<!DOCTYPE html>
<html>

<head>
    <title>会员中心</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="uc-box">
                    <div class="hd">
                        <div class="uc-name" style="background-image: url('/images/zyjf/my_bg.jpg');">
                            <div class="avatar-border"><div class="avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></div></div>
                            <div class="name">
                                <div class="overage">我的余额：￥1200.00元<a href="#" class="weui-btn weui-btn_mini weui-btn_default">提现</a></div>
                                <p>王晓文-网站建设+微信开发+APP开发</p>
                            </div>
                            <div class="buyvip">升级VIP年度会员</div>
                        </div>
                        <div class="uc-info">
                            <div class="item">
                                已报课3次<p>品牌课程</p>
                            </div>
                            <div class="item">
                                已学课3次<p>微课堂</p>
                            </div>
                            <div class="item">
                                小学一年级<p>综合评估</p>
                            </div>
                        </div>
                    </div>
                    <div class="bd">
                        <div class="weui-grids quick-nav">
                            <a href="buttons.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-modify s4"></span>
                                </div>
                                <div class="weui-grid__label">
                                    我的资料
                                </div>
                            </a>
                            <a href="cell.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-ticket s1"></span>
                                </div>
                                <div class="weui-grid__label">
                                    已购微客
                                </div>
                            </a>
                            <a href="form.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-ticket s1"></span>
                                </div>
                                <div class="weui-grid__label">
                                    已报课程
                                </div>
                            </a>
                            <a href="flex.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-star1 s6"></span>
                                </div>
                                <div class="weui-grid__label">
                                    学习记录
                                </div>
                            </a>
                            <a href="toast.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-pay s2"></span>
                                </div>
                                <div class="weui-grid__label">
                                    支付记录
                                </div>
                            </a>
                            <a href="dialog.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-share s3"></span>
                                </div>
                                <div class="weui-grid__label">
                                    转发记录
                                </div>
                            </a>
                        </div>

                        <div class="weui-grids quick-nav">
                            <a href="buttons.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-guest s4"></span>
                                </div>
                                <div class="weui-grid__label">
                                    我的客户
                                </div>
                            </a>
                            <a href="cell.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-story3 s1"></span>
                                </div>
                                <div class="weui-grid__label">
                                    我的收益
                                </div>
                            </a>
                            <a href="form.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-shop2 s1"></span>
                                </div>
                                <div class="weui-grid__label">
                                    我的提现
                                </div>
                            </a>
                        </div>

                        <div class="weui-grids quick-nav">
                            <a href="flex.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-opinion s6"></span>
                                </div>
                                <div class="weui-grid__label">
                                    在线反馈
                                </div>
                            </a>
                            <a href="toast.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-course s2"></span>
                                </div>
                                <div class="weui-grid__label">
                                    服务条款
                                </div>
                            </a>
                            <a href="dialog.html" class="weui-grid js_grid">
                                <div class="weui-grid__icon">
                                    <span class="xch-icon xch-icon-about s3"></span>
                                </div>
                                <div class="weui-grid__label">
                                    关于我们
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="weui-tabbar">
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s1"></div>
                </div>
                <p class="weui-tabbar__label">品牌课程</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s2"></div>
                </div>
                <p class="weui-tabbar__label">免费专区</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s3"></div>
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s4"></div>
                </div>
                <p class="weui-tabbar__label">微课堂</p>
            </a>
            <a class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s5"></div>
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>

    <% include _footer.html %>
</body>

</html>
