<!DOCTYPE html>
<html>

<head>
    <title>正元金服微课堂-报名提交</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    
    <div class="zyjf-footer">
        <div class="zyjf-nav">
            <a class="weui-btn weui-btn_primary flex-1" href="javascript:"><span class="xch-icon xch-icon-check"></span> 确认参会</a>
        </div>
    </div>

    <div class="zyjf-container with-ft">



        <div class="detail-box">
            <div class="detail-apply">
                <div class="detail-apply-step">
                    <div class="item active">报名流程</div>
                    <div class="item">信息确认</div>
                    <div class="item">费用支付</div>
                    <div class="item">完成报名</div>
                </div>
            </div>

            <div class="apply-title">
                <p>课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称</p>
            </div>

            <div class="weui-form-preview detail-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label"><span class="xch-icon xch-icon-time"></span>时间</label>
                        <span class="weui-form-preview__value">2017/08/20-08-22</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label"><span class="xch-icon xch-icon-refund"></span>费用</label>
                        <span class="weui-form-preview__value">￥2800.00元</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label"><span class="xch-icon xch-icon-position"></span>地点</label>
                        <span class="weui-form-preview__value">北京市温都水城康熙行宫2号院</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label"><span class="xch-icon xch-icon-course"></span>主题</label>
                        <span class="weui-form-preview__value">企业家音钵疗愈之旅 一场身心SPA之旅</span>
                    </div>
                </div>
            </div>

            <div class="weui-cells weui-cells_form uc-form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">姓名</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入姓名">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">性别</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select2">
                            <option value="1">请选择性别</option>
                            <option value="1">先生</option>
                            <option value="2">女士</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">手机</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" placeholder="请输入手机号码">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">报名人数</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select2">
                            <option value="0">请选择人数</option>
                            <option value="1">1位</option>
                            <option value="1">2位</option>
                            <option value="2">3位</option>
                            <option value="3">更多</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">公司名称</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入公司名称">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">工作职务</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入职务">
                    </div>
                </div>
                
                <div class="weui-cell weui-cell_vcode">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">工作地址</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="点击定位获取地址">
                    </div>
                    <div class="weui-cell__ft">
                        <button class="weui-vcode-btn"><span class="xch-icon xch-icon-map"></span>定位</button>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">课程费用</label>
                    </div>
                    <div class="weui-cell__bd">
                        <span class="fontblue">￥5600.00元</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <% include _footer.html %>
  <script src="../js/swiper.js"></script>
  <script>
  $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    </script>
</body>

</html>