<!DOCTYPE html>
<html>

<head>
    <title>正元金服微课堂-直播预告</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    
    <div class="zyjf-footer">
        <div class="zyjf-nav">
            <a class="weui-btn weui-btn_green" href="javascript:"><span class="xch-icon xch-icon-modify"></span> 生成邀请卡</a>
            <a class="weui-btn weui-btn_primary flex-1" href="javascript:"><span class="xch-icon xch-icon-check"></span> 课程报名</a>
        </div>
    </div>

    <div class="zyjf-container with-ft">
        <div class="detail-box">
            <div class="detail-hd">
                <div class="live-img" style="background-image: url('/images/zyjf/04.jpg');">
                    <div class="invite-card"><span class="xch-icon xch-icon-story1"></span>我的邀请卡</div>
                    <div class="live-title">课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称</div>
                </div>
                <div class="live-info">
                    <div class="weui-flex">
                        <div class="weui-flex__item">直播时间</div>
                        <div class="live-price">￥39.90元</div>
                    </div>
                    <div class="weui-flex">
                        <div class="weui-flex__item live-time">2017年8月25日 20:00:00</div>
                        <div class="live-view"><span class="xch-icon xch-icon-live2"></span>3742人次</div>
                    </div>
                </div>
            </div>

            <div class="weui-cells detail-applicant">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>邀请达人榜</p>
                    </div>
                    <div class="weui-cell__ft">
                        <span class="user-avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></span>
                        <span class="user-avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></span>
                        <span class="user-avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></span>
                        <span class="user-avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></span>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>报名人数<span>1175</span></p>
                    </div>
                    <div class="weui-cell__ft">
                        <span class="user-avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></span>
                        <span class="user-avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></span>
                        <span class="user-avatar" style="background-image: url('/images/zyjf/eduardo.jpg');"></span>
                    </div>
                </a>
            </div>

            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                    <div class="boon-title">
                        预约报名<img src="/images/zyjf/boon.png" alt="">福利驾到
                    </div>
                </div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <p>福利一：转发至朋友圈享受3-7折随机优惠</p>
                        <p>福利二：不转发至朋友圈享受7-9折随机优惠</p>
                        <p>福利三：开播前15分钟会有消息通知提醒服务</p>
                    </div>
                </div>
            </div>

            <article class="weui-article detail-cont">
                <section>
                    <h2 class="title">课程介绍</h2>
                    <section>
                        <h3>1.1 节标题</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            <img src="/images/zyjf/pic_article.png" alt="">
                            <img src="/images/zyjf/pic_article.png" alt="">
                        </p>
                    </section>
                    <section>
                        <h3>1.2 节标题</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </section>
                </section>
            </article>

        </div>

    </div>

    <% include _footer.html %>
  <script src="../js/swiper.js"></script>
  <script>
  $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    </script>
</body>

</html>