<!DOCTYPE html>
<html>

<head>
    <title>正元金服微课堂-视频点播-交流讨论</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    
    <div class="zyjf-footer">
        <div class="zyjf-nav">

            <div class="weui-search-bar flex-1">
                <span class="zyjf-icon zyjf-icon-face"></span>
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1); padding-left: 10px">
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="输入评论" required="">
                    </div>
                </form>
            </div>
            <a class="weui-btn weui-btn_primary" href="javascript:">发送</a>
        </div>
    </div>

    <div class="zyjf-container with-ft">
        <div class="detail-box">
            <div class="detail-hd">
                <div class="video-detail">
                    <iframe frameborder="0" src="https://v.qq.com/iframe/player.html?vid=l00237gbcoc&tiny=0&auto=0" allowfullscreen></iframe>
                    <div class="video-playing">
                        <div class="play-time">正在直播中 00:30:29</div>
                    </div>
                    <div class="video-info">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <div class="video-title">视频标题视频标题视频标题视频标题视频标题视频标题</div>
                            </div>
                            <div class="video-view-t"><span class="zyjf-icon zyjf-icon-user1"></span></div>
                            <div class="video-view">1440</div>
                            <div class="video-reply-t"><span class="zyjf-icon zyjf-icon-opinion"></span></div>
                            <div class="video-reply">44</div>
                            <!-- <div class="video-barrage-t">
                                弹幕
                            </div>
                            <div class="video-barrage">
                                <label for="switchCP" class="weui-switch-cp">
                                    <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                    <div class="weui-switch-cp__box"></div>
                                </label>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="weui-tab">
                <div class="weui-navbar">
                    <a class="weui-navbar__item weui-bar__item--on" href="#">
                        讨论交流
                    </a>
                    <a class="weui-navbar__item" href="#">
                        品牌课程
                    </a>
                    <a class="weui-navbar__item" href="#">
                        课件下载
                    </a>
                </div>
                <div class="weui-tab__bd">
                    <div class="weui-tab__bd-item weui-tab__bd-item--active">
                        
                        <div class="product-discuss">
                            <div class="product-discuss-item">
                                <div class="discuss-user">
                                    <div class="hd"><img class="avatar" src="/images/zyjf/eduardo.jpg" alt="" style="width:24px;margin-right:5px;display:block"></div>
                                    <div class="bd">
                                        <p class="name">埃德华多</p>
                                    </div>
                                    <div class="ft">
                                        <span class="time">2016-10-01</span>
                                    </div>
                                </div>
                                <div class="discuss-content">
                                    <p>酒店就在5号线地铁站旁边不远处，出行方便。早上10点提前到了，服务台也给办了入住，很人性化。</p>
                                </div>
                            </div>
                            <div class="product-discuss-item">
                                <div class="discuss-user">
                                    <div class="hd"><img class="avatar" src="/images/zyjf/eduardo.jpg" alt="" style="width:24px;margin-right:5px;display:block"></div>
                                    <div class="bd">
                                        <p class="name">尼古拉斯</p>
                                    </div>
                                    <div class="ft">
                                        <span class="time">2016-10-01</span>
                                    </div>
                                </div>
                                <div class="discuss-content">
                                    <p>地理位置非常好，对于我这个路痴来说，居然也能出地铁站走十分钟就找到酒店真的是一件非常愉快的事。一眼看到房间里的魔方和小鱼，就很有亲切的感觉。</p>
                                </div>
                            </div>
                            <div class="product-discuss-item">
                                <div class="discuss-user">
                                    <div class="hd"><img class="avatar" src="/images/zyjf/eduardo.jpg" alt="" style="width:24px;margin-right:5px;display:block"></div>
                                    <div class="bd">
                                        <p class="name">亨利</p>
                                    </div>
                                    <div class="ft">
                                        <span class="time">2016-10-01</span>
                                    </div>
                                </div>
                                <div class="discuss-content">
                                    <p>大床房的床真的很大，洗澡水量很足，淋浴起来非常舒服。亮点是窗口边的浴缸和蓝牙音箱，晚上泡在浴缸里既可以看电视，也可以欣赏窗外北三环的车水马龙。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <% include _footer.html %>
    
    <div class="weui-mask weui-mask--visible"></div>
    <div class="weui-dialog weui-dialog--visible notice-model" id="mynotice">
        <div class="user-icon">
            <img src="/images/zyjf/04.jpg" alt="" class="photo">
        </div>
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">中国美相学院微课直播间</strong></div>
        <div class="weui-dialog__bd">
            <p>开播前15分钟会自动发消息通知您</p>
        </div>
        <div class="weui-dialog__ft">
            <div class="notice-countdown">
                距离开播时间&nbsp;<span class="fontred">03时 23分 34秒</span>
            </div>
        </div>
        <a href="javascript:;" class="btn-cancel" id="close-mynotice"><i class="weui-icon-cancel"></i></a>
    </div>
    <script>
        $("#close-mynotice").click(function(){
            $(".weui-mask").removeClass("weui-mask--visible");
            $("#mynotice").removeClass("weui-dialog--visible");
        });
    </script>
</body>

</html>