<!DOCTYPE html>
<html>

<head>
    <title>正元金服微课堂-视频点播-品牌课程</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="zyjf-footer">
        <div class="zyjf-nav">
            <a class="weui-btn weui-btn_primary flex-1" href="javascript:"><span class="xch-icon xch-icon-check"></span> 确认参会</a>
        </div>
    </div>

    <div class="zyjf-container with-ft">
        <div class="detail-box">
            <div class="detail-hd">
                <div class="video-detail">
                    <iframe frameborder="0" src="https://v.qq.com/iframe/player.html?vid=l00237gbcoc&tiny=0&auto=0" allowfullscreen></iframe>
                </div>
                <div class="video-info">
                    <div class="video-title">视频标题视频标题视频标题视频标题视频标题视频标题</div>
                    <div class="weui-flex">
                        <div class="weui-flex__item"></div>
                        <div class="video-view-t"><span class="xch-icon xch-icon-user1"></span></div>
                        <div class="video-view">1440</div>
                        <div class="video-reply-t"><span class="xch-icon xch-icon-opinion"></span></div>
                        <div class="video-reply">44</div>
                        <div class="video-barrage-t">
                            弹幕
                        </div>
                        <div class="video-barrage">
                            <label for="switchCP" class="weui-switch-cp">
                                <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch-cp__box"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="weui-tab">
                <div class="weui-navbar">
                    <a class="weui-navbar__item" href="#">
                        讨论交流
                    </a>
                    <a class="weui-navbar__item weui-bar__item--on" href="#">
                        品牌课程
                    </a>
                    <a class="weui-navbar__item" href="#">
                        课件下载
                    </a>
                </div>
                <div class="weui-tab__bd">
                    <div class="detail-box">
                        <div class="detail-hd">
                            <div class="detail-img" style="background-image: url('/images/zyjf/04.jpg');">
                                <div class="detail-title">课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称课程名称</div>
                            </div>
                        </div>

                        <div class="weui-form-preview detail-preview">
                            <div class="weui-form-preview__bd">
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label"><span class="xch-icon xch-icon-time"></span>时间</label>
                                    <span class="weui-form-preview__value">2017/08/20-08-22</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label"><span class="xch-icon xch-icon-refund"></span>费用</label>
                                    <span class="weui-form-preview__value">￥2800.00元</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label"><span class="xch-icon xch-icon-position"></span>地点</label>
                                    <span class="weui-form-preview__value">北京市温都水城康熙行宫2号院</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label"><span class="xch-icon xch-icon-course"></span>主题</label>
                                    <span class="weui-form-preview__value">企业家音钵疗愈之旅 一场身心SPA之旅</span>
                                </div>
                            </div>
                        </div>

                        <article class="weui-article detail-cont">
                            <section>
                                <h2 class="title">课程介绍</h2>
                                <section>
                                    <h3>1.1 节标题</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                    <p>
                                        <img src="/images/zyjf/pic_article.png" alt="">
                                        <img src="/images/zyjf/pic_article.png" alt="">
                                    </p>
                                </section>
                                <section>
                                    <h3>1.2 节标题</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </section>
                            </section>
                        </article>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <% include _footer.html %>
  <script src="../js/swiper.js"></script>
  <script>
  $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    </script>
</body>

</html>