<!DOCTYPE html>
<html>

<head>
    <title>正元金服微课堂-转发朋友圈</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    
    <div class="zyjf-footer">
        <div class="zyjf-nav">
            <a class="weui-btn weui-btn_primary flex-1" href="javascript:">转发朋友圈</a>
        </div>
    </div>

    <div class="zyjf-container with-ft">
    
        <div class="detail-apply">
            <div class="detail-apply-step">
                <div class="item">微客报名</div>
                <div class="item">费用支付</div>
                <div class="item">完善资料</div>
                <div class="item active">转发朋友圈</div>
            </div>
        </div>

        <div class="weui-msg">
            <div class="weui-msg__icon-area">
                <i class="weui-icon-success weui-icon_msg"></i>
            </div>
            <!-- <div class="weui-msg__icon-area">
                <span class="zyjf-icon zyjf-icon-moments"></span>
            </div> -->
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">分享成功</h2>
                <p class="weui-msg__desc">正在为您准备打开课程……</p>
            </div>
            <div class="list-box" style=" text-align: left; ">
                <div class="list-t weui-flex">
                    <div class="title weui-flex__item">转发规则</div>
                </div>
                <div class="weui-cells__tips" style="padding: 10px 15px;">
                    <p>
                        1、请点击右上角分享按钮分享至您的朋友圈<br/>
                        2、转发至朋友圈后，即可免费收听课程<br/>
                        3、如您不想转发朋友圈，请长按如下二维码加好友咨询<br/>
                        4、客服电话：18610088750 王老师
                    </p>
                    <p style=" text-align: center; "><img src="/images/zyjf/qrcode.png" alt="" style="vertical-align: middle; width: 50%;"></p>
                </div>
            </div>
            <!-- <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="javascript:;" class="weui-btn weui-btn_primary">转发朋友圈</a>
                </p>
            </div> -->
        </div>

    </div>

    <% include _footer.html %>
</body>

</html>