<!DOCTYPE html>
<html>

<head>
    <title>正元金服微课堂-邀请卡-报名人数</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    
    <div class="banner">
        <img src="/images/zyjf/05.png" alt="">
    </div>

    <div class="weui-cells invite-list">
        <div class="weui-cell">
            <div class="weui-cell__hd"><img class="invite-avatar" src="/images/zyjf/eduardo.jpg" alt=""></div>
            <div class="weui-cell__bd">
                <p class="invite-name">王晓文-网站建设+微信开发+APP开发APP开发APP开发APP开发</p>
                <p class="invite-status">
                    <span class="status-off">未获得排名</span>
                    <span class="status-on">总排名110名</span>
                </p>
                <p class="invite-info">
                    推荐了 <span class="fontorange">0</span> 个朋友过来听课
                </p>
            </div>
            <div class="weui-cell__ft">
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_green">去邀请</a>
            </div>
        </div>
    </div>

    <div class="weui-cells invite-list">
        <div class="weui-cell">
            <div class="weui-cell__hd"><img class="invite-avatar" src="/images/zyjf/eduardo.jpg" alt=""></div>
            <div class="weui-cell__bd">
                <p class="invite-name">会员真实姓名<span>总经理</span></p>
                <p class="invite-info">会员公司名称会员公司名称</p>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><img class="invite-avatar" src="/images/zyjf/eduardo.jpg" alt=""></div>
            <div class="weui-cell__bd">
                <p class="invite-name">会员真实姓名<span>总经理</span></p>
                <p class="invite-info">会员公司名称会员公司名称</p>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><img class="invite-avatar" src="/images/zyjf/eduardo.jpg" alt=""></div>
            <div class="weui-cell__bd">
                <p class="invite-name">会员真实姓名<span>总经理</span></p>
                <p class="invite-info">会员公司名称会员公司名称</p>
            </div>
        </div>
    </div>

    <% include _footer.html %>
</body>

</html>