<!DOCTYPE html>
<html>

<head>
    <title>正元金服微课堂-首页</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div class="weui-tab__bd-item weui-tab__bd-item--active">
                
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide"><img src="/images/zyjf/01.jpg" /></div>
                        <div class="swiper-slide"><img src="/images/zyjf/02.jpg" /></div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>

                <div class="weui-grids quick-nav">
                    <a href="" class="weui-grid js_grid nav-item">
                        <div class="weui-grid__icon">
                            <img src="/images/zyjf/icon_nav_live.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            直播预告
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid nav-item">
                        <div class="weui-grid__icon">
                            <img src="/images/zyjf/icon_nav_course.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            品牌课程
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid nav-item">
                        <div class="weui-grid__icon">
                            <img src="/images/zyjf/icon_nav_free.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            免费专区
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid nav-item">
                        <div class="weui-grid__icon">
                            <img src="/images/zyjf/icon_nav_lesson.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            微课堂
                        </p>
                    </a>
                </div>

                <div class="list-box">
                    <div class="list-t weui-flex">
                        <div class="title weui-flex__item">专家课堂</div>
                        <a href="" class="more">
                            查看全部
                        </a>
                    </div>
                    <div class="live-list">
                        <a href="" class="list-item">
                            <div class="image" style="background-image: url('/images/zyjf/03.jpg');">
                                <div class="price">￥19.9元</div>
                            </div>
                            <div class="desc txt-line-two">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</div>
                            <div class="ft weui-flex">
                                <div class="subhd">
                                    <div class="lastnews">主讲老师</div>
                                </div>
                                <div class="subbd weui-flex__item">
                                    杨跃军<span>正元金服公司总经理</span>
                                </div>
                                <div class="subft">
                                    <p>15天20小时</p><p>20分30秒</p>
                                </div>
                            </div>
                        </a>
                        <a href="" class="list-item">
                            <div class="image" style="background-image: url('/images/zyjf/03.jpg');">
                                <div class="price">￥19.9元</div>
                            </div>
                            <div class="desc txt-line-two">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</div>
                            <div class="ft weui-flex">
                                <div class="subhd">
                                    <div class="lastnews">主讲老师</div>
                                </div>
                                <div class="subbd weui-flex__item">
                                    杨跃军<span>正元金服公司总经理</span>
                                </div>
                                <div class="subft">
                                    <p>15天20小时</p><p>20分30秒</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="list-box">
                    <div class="list-t weui-flex">
                        <div class="title weui-flex__item">品牌课程</div>
                        <a href="" class="more">
                            查看全部
                        </a>
                    </div>
                    <div class="course-list">
                        <a href="" class="list-item">
                            <div class="weui-flex">
                                <div class="list-item-l weui-flex__item">
                                    <div class="title">债券从业人员培训班债券从业人员培训班债券从业人员培训班</div>
                                    <div class="desc">
                                        <p>时间：2017/8/15-8/17</p>
                                        <p>地点：北京大方饭店</p>
                                        <p>主题：一句话概述本次课程主题</p>
                                    </div>
                                </div>
                                <div class="list-item-r">
                                    <div class="image" style="background-image: url('/images/zyjf/03.jpg');">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="ft weui-flex">
                                <div class="subhd">
                                    <div class="lastnews">主讲老师</div>
                                </div>
                                <div class="subbd weui-flex__item">
                                    杨跃军<br/><span>正元金服公司总经理</span>
                                </div>
                                <div class="subft">
                                    <p>距离开课还有11天</p>
                                </div>
                            </div>
                        </a>
                        <a href="" class="list-item">
                            <div class="weui-flex">
                                <div class="list-item-l weui-flex__item">
                                    <div class="title">债券从业人员培训班债券从业人员培训班债券从业人员培训班</div>
                                    <div class="desc">
                                        <ul>
                                            <p>时间：2017/8/15-8/17</p>
                                            <p>地点：北京大方饭店</p>
                                            <p>主题：一句话概述本次课程主题</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-item-r">
                                    <div class="image" style="background-image: url('/images/zyjf/03.jpg');"></div>
                                </div>
                                
                            </div>
                            <div class="ft weui-flex">
                                <div class="subhd">
                                    <div class="lastnews">主讲老师</div>
                                </div>
                                <div class="subbd weui-flex__item">
                                    杨跃军<br/><span>正元金服公司总经理</span>
                                </div>
                                <div class="subft">
                                    <p>距离开课还有11天</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-tabbar">
            <a class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s1"></div>
                </div>
                <p class="weui-tabbar__label">品牌课程</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s2"></div>
                </div>
                <p class="weui-tabbar__label">免费专区</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s3"></div>
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s4"></div>
                </div>
                <p class="weui-tabbar__label">微课堂</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <div class="icon-bg s5"></div>
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>

    <% include _footer.html %>
  <script src="../js/swiper.js"></script>
  <script>
  $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    </script>
</body>

</html>