<!DOCTYPE html>
<html>

<head>
    <title>专家推荐</title>
    <% include _head.html %>
</head>

<body ontouchstart>
    <div class="bm-footer">
        <div class="bm-nav">
            <a href="#" class="item active">
                <div class="bm-nav__icon"><span class="bmicon bmicon-home"></span></div>
                <div class="bm-nav__label">首页</div>
            </a>
            <a href="#" class="item">
                <div class="bm-nav__icon"><span class="bmicon bmicon-together"></span></div>
                <div class="bm-nav__label">合买计划</div>
            </a>
            <a href="#" class="item">
                <div class="bm-nav__icon"><span class="bmicon bmicon-news"></span></div>
                <div class="bm-nav__label">推荐资讯</div>
            </a>
            <a href="#" class="item">
                <div class="bm-nav__icon"><span class="bmicon bmicon-user"></span></div>
                <div class="bm-nav__label">个人中心</div>
            </a>
        </div>
    </div>

    <div class="bm-container with-ftnav">
        <div class="swiper-banner">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="/images/banma/01.jpg" /></div>
                <div class="swiper-slide"><img src="/images/banma/02.jpg" /></div>
                <div class="swiper-slide"><img src="/images/banma/03.jpg" /></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-p1"></div>
        </div>

        <div class="weui-grids quick-nav">
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon s1">
                    <span class="bmicon bmicon-expert"></span>
                </div>
                <p class="weui-grid__label">
                    推荐专家
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon s2">
                    <span class="bmicon bmicon-together2"></span>
                </div>
                <p class="weui-grid__label">
                    合买计划
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon s3">
                    <span class="bmicon bmicon-news2"></span>
                </div>
                <p class="weui-grid__label">
                    推荐资讯
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon s4">
                    <span class="bmicon bmicon-help"></span>
                </div>
                <p class="weui-grid__label">
                    新手指南
                </p>
            </a>
        </div>

        <div class="bm-ann">
            <div class="hd"><span class="bmicon bmicon-ann"></span>最新公告：</div>
            <div class="bd">
                <div class="swiper-ann">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                        <div class="swiper-slide"><a href="#">刚刚“九八竞猜”发布了新的推荐单</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-tab bm-tab">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                    热门专家
                </a>
                <a class="weui-navbar__item" href="#tab2">
                    刚刚更新
                </a>
                <a class="weui-navbar__item" href="#tab3">
                    推荐专家
                </a>
                <a class="weui-navbar__item" href="#tab4">
                    新人专家
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="weui-grids expert-list">
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                阳仔说球阳仔说球阳仔说球
                            </p>
                            <p class="expert-info">
                                <!-- 无内容时去掉span标签 -->
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩一哥
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                足球狂热者
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                博冷大师
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩张主任
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                阳仔说球
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩一哥
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                足球狂热者
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                博冷大师
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩张主任
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                阳仔说球
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩一哥
                            </p>
                            <p class="expert-info">
                                <span>560粉丝</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div id="tab2" class="weui-tab__bd-item">
                    <div class="weui-grids expert-list">
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                阳仔说球阳仔说球阳仔说球
                            </p>
                            <p class="expert-info">
                                <!-- 无内容时去掉span标签 -->
                                <span>新发布推荐</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩一哥
                            </p>
                            <p class="expert-info">
                                <span>新发布合买</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                足球狂热者
                            </p>
                            <p class="expert-info">
                                <span>新发布推荐</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                博冷大师
                            </p>
                            <p class="expert-info">
                                <span>新发布推荐</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div id="tab3" class="weui-tab__bd-item">
                    <div class="weui-grids expert-list">
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                阳仔说球阳仔说球阳仔说球
                            </p>
                            <p class="expert-info">
                                <!-- 无内容时去掉span标签 -->
                                <span>体彩专家</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩一哥
                            </p>
                            <p class="expert-info">
                                <span>篮球专家</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                足球狂热者
                            </p>
                            <p class="expert-info">
                                <span>精研竞彩</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                博冷大师
                            </p>
                            <p class="expert-info">
                                <span>双色球大仙</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div id="tab4" class="weui-tab__bd-item">
                    <div class="weui-grids expert-list">
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                阳仔说球阳仔说球阳仔说球
                            </p>
                            <p class="expert-info">
                                <!-- 无内容时去掉span标签 -->
                                <span>刚刚入驻</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                竞彩一哥
                            </p>
                            <p class="expert-info">
                                <span>今天入驻</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                足球狂热者
                            </p>
                            <p class="expert-info">
                                <span>昨天入驻</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                博冷大师
                            </p>
                            <p class="expert-info">
                                <span>前天入驻</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                博冷大师
                            </p>
                            <p class="expert-info">
                                <span>19日入驻</span>
                            </p>
                        </a>
                        <a href="#" class="weui-grid js_grid">
                            <div class="weui-grid__icon">
                                <img src="/images/banma/eduardo.jpg" alt="">
                            </div>
                            <p class="weui-grid__label">
                                博冷大师
                            </p>
                            <p class="expert-info">
                                <span>8月入驻</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <% include _foot.html %>
    <script src="/js/swiper.js"></script>
    <script>
    $(".swiper-banner").swiper({
        pagination: '.swiper-p1',
        loop: true,
        autoplay: 3000
    });
    $(".swiper-ann").swiper({
        pagination: '.swiper-p2',
        loop: true,
        autoplay: 3000,
        direction: 'vertical'
    });
    </script>
</body>

</html>