<!DOCTYPE html>
<html>

<head>
    <title>专家详情-历史推荐</title>
    <% include _head.html %>
</head>

<body ontouchstart>

    <div class="bm-container">
        <div class="expert-hd">
            <div class="expert-box">
                <div class="expert-info">
                    <div class="info-hd">
                        <div class="info-avatar" style=" background-image: url('/images/banma/eduardo.jpg'); "></div>
                    </div>
                    <div class="info-bd">
                        <div class="info-name">
                            <!-- 专家名称 -->
                            竞彩一哥
                        </div>
                        <div class="info-count">粉丝：650</div>
                    </div>
                    <div class="info-ft">
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">已关注</a>
                    </div>
                </div>
                <div class="expert-about">
                    个人简介：本本人从事体彩行业十年本人从事体彩行业十年本人从事体彩行业十年本人从事体彩行业十年本人从事体彩行业十年本人从事体彩行业十年本人
                </div>
            </div>
        </div>

        <div class="expert-bd">
            <div class="expert-tab">
                <a class="item active">最新推荐</a>
                <a class="item">合买计划</a>
            </div>
            <div class="panel-box">
                <div class="panel-t weui-flex">
                    <div class="title weui-flex__item">历史推荐</div>
                    <a href="" class="more">
                        返回最新推荐
                    </a>
                </div>
            </div>
            <div class="weui-cells history-list">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>08月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>07月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>06月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>05月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>04月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>03月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>02月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>01月份推荐</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <!-- 点月份之后列出当月推荐 -->
            <div class="panel-box">
                <div class="panel-t weui-flex">
                    <div class="title weui-flex__item">08月份推荐</div>
                    <a href="" class="more">
                        返回历史推荐
                    </a>
                </div>
            </div>
            <div class="weui-cells history-list">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>2017-08-31 20：00</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
        </div>

    </div>
    
    <% include _foot.html %>
</body>

</html>