<!DOCTYPE html>
<html>

<head>
    <title>专家推荐列表</title>
    <% include _head.html %>
</head>

<body ontouchstart>
    <div class="bm-header">
        <div class="weui-cells weui-cells_form weui-flex bm-filter">
            <div class="weui-cell weui-flex__item">
                <div class="weui-cell__bd">
                    <input class="weui-input" id="home-city" type="text" placeholder="按城市筛选">
                </div>
            </div>
            <!-- <div class="weui-cell weui-cell_select weui-flex__item">
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select1">
                        <option selected="" value="1">分类</option>
                        <option value="1">足球</option>
                        <option value="2">篮球</option>
                        <option value="3">排列三</option>
                        <option value="4">排列五</option>
                        <option value="5">双色球</option>
                        <option value="6">七星彩</option>
                    </select>
                </div>
            </div> -->
            <div class="weui-cell weui-cell_select weui-flex__item">
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">排序</option>
                        <option value="2">发布时间</option>
                        <option value="2">按字母</option>
                        <option value="2">关注数量</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="bm-container with-hd">
        <div class="weui-grids expert-list">
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球阳仔说球阳仔说球
                </p>
                <p class="expert-info">
                    <!-- 无内容时去掉span标签 -->
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    足球狂热者
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    博冷大师
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩张主任
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    足球狂热者
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    博冷大师
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩张主任
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球阳仔说球阳仔说球
                </p>
                <p class="expert-info">
                    <!-- 无内容时去掉span标签 -->
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    足球狂热者
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    博冷大师
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩张主任
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    足球狂热者
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    博冷大师
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩张主任
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球阳仔说球阳仔说球
                </p>
                <p class="expert-info">
                    <!-- 无内容时去掉span标签 -->
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    足球狂热者
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    博冷大师
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩张主任
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    足球狂热者
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    博冷大师
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩张主任
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    阳仔说球
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
            <a href="#" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="/images/banma/eduardo.jpg" alt="">
                </div>
                <p class="weui-grid__label">
                    竞彩一哥
                </p>
                <p class="expert-info">
                    <span>560粉丝</span>
                </p>
            </a>
        </div>

    </div>
    
    <% include _foot.html %>
    <script src="/js/city-picker.js"></script>
    <script>
    $("#home-city").cityPicker({
        title: "选择目的地",
        showDistrict: false,
        onChange: function(picker, values, displayValues) {
            console.log(values, displayValues);
        }
    });
    </script>
</body>

</html>