<!DOCTYPE html>
<html>

<head>
    <title>会员中心-关注的专家</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="bm-container">
        <div class="bm-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/banma/my_bg1.png');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/banma/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>周杰伦</p><!-- 微信名称 -->
                        <div class="expert-name">专家名称：斑马310</div><!-- 专家名称 -->
                    </div>
                    
                </div>
            </div>
            <div class="bd">
                <div class="panel-box">
                    <div class="panel-t weui-flex">
                        <div class="title weui-flex__item">我关注的专家</div>
                    </div>
                </div>
                <div class="weui-grids expert-list">
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            阳仔说球阳仔说球阳仔说球
                        </p>
                        <p class="expert-info">
                            <!-- 无内容时去掉span标签 -->
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            竞彩一哥
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            足球狂热者
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            博冷大师
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            竞彩张主任
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            阳仔说球
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            竞彩一哥
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            足球狂热者
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            博冷大师
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            竞彩张主任
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            阳仔说球
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            竞彩一哥
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            阳仔说球阳仔说球阳仔说球
                        </p>
                        <p class="expert-info">
                            <!-- 无内容时去掉span标签 -->
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            竞彩一哥
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            足球狂热者
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            博冷大师
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                    <a href="#" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/images/banma/eduardo.jpg" alt="">
                        </div>
                        <p class="weui-grid__label">
                            竞彩张主任
                        </p>
                        <p class="expert-info">
                            <span>560粉丝</span>
                        </p>
                    </a>
                </div>

            </div>
        </div>


    </div>

    <% include _footer.html %>
</body>

</html>
