<!DOCTYPE html>
<html>

<head>
    <title>会员中心</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="bm-container">
        <div class="bm-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/banma/my_bg1.png');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/banma/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>周杰伦</p><!-- 微信名称 -->
                        <div class="expert-name">专家名称：斑马310</div><!-- 专家名称 -->
                    </div>
                    
                </div>
                <div class="uc-info">
                    <div class="item">
                        <a href="javascript:;" class="weui-btn weui-btn_warn">申请成为专家</a>
                        <div class="weui-cells__tips fontorange" style="white-space: normal;">申请专家需上传用户个人的微信二维码，请事先在手机相册中准备好二维码图片再来申请成为专家。</div>
                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="weui-grids uc-quick-nav">
                    <a href="buttons.html" class="weui-grid js_grid s4">
                        <div class="weui-grid__icon">
                            <span class="bmicon bmicon-together-record"></span>
                        </div>
                        <div class="weui-grid__label">
                            合买记录
                        </div>
                    </a>
                    <a href="form.html" class="weui-grid js_grid s3">
                        <div class="weui-grid__icon">
                            <span class="bmicon bmicon-experts"></span>
                        </div>
                        <div class="weui-grid__label">
                            关注的专家
                        </div>
                    </a>
                    <a href="dialog.html" class="weui-grid js_grid s2">
                        <div class="weui-grid__icon">
                            <span class="bmicon bmicon-modify"></span>
                        </div>
                        <div class="weui-grid__label">
                            个人资料
                        </div>
                    </a>
                    <a href="dialog.html" class="weui-grid js_grid s5">
                        <div class="weui-grid__icon">
                            <span class="bmicon bmicon-service"></span>
                        </div>
                        <div class="weui-grid__label">
                            服务条款
                        </div>
                    </a>
                    <a href="dialog.html" class="weui-grid js_grid s1">
                        <div class="weui-grid__icon">
                            <span class="bmicon bmicon-about"></span>
                        </div>
                        <div class="weui-grid__label">
                            关于我们
                        </div>
                    </a>
                </div>

            </div>
        </div>


    </div>

    <% include _footer.html %>
</body>

</html>
