<!DOCTYPE html>
<html>

<head>
    <title>会员中心-合买记录</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="bm-container">
        <div class="bm-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/banma/my_bg1.png');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/banma/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>周杰伦</p><!-- 微信名称 -->
                        <div class="expert-name">专家名称：斑马310</div><!-- 专家名称 -->
                    </div>
                    
                </div>
            </div>
            <div class="bd">
                <div class="weui-tab bm-tab">
                    <div class="weui-navbar">
                        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">发布的合买</a>
                        <a class="weui-navbar__item" href="#tab2">参与的合买</a>
                    </div>
                    <div class="weui-tab__bd">
                        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                            <div class="together-project">
                                <div class="weui-panel">
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text">
                                            <div class="weui-flex">
                                                <div class="together-class">
                                                    <div class="class-img" style=" background-image: url('/images/banma/letou.jpg'); "></div>
                                                </div>
                                                <div class="together-title">
                                                    <h4 class="weui-media-box__title">彩运亨通大乐透合买0830期</h4>
                                                    <p class="weui-media-box__desc together-tag">
                                                        <span>大乐透</span>
                                                        <span>保底64份</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="weui-flex together-table">
                                                <div class="weui-flex__item">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>合买总金额</th>
                                                                <th>每份金额</th>
                                                                <th>剩余份数</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1512元</td>
                                                                <td>18份</td>
                                                                <td>64份</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="togther-btn">
                                                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">参与</a>
                                                </div>
                                            </div>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta">截止时间：17-08-31 10:45</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">跟单人数：1000</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="weui-panel">
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text">
                                            <div class="weui-flex">
                                                <div class="together-class">
                                                    <div class="class-img" style=" background-image: url('/images/banma/letou.jpg'); "></div>
                                                </div>
                                                <div class="together-title">
                                                    <h4 class="weui-media-box__title">彩运亨通大乐透合买0830期</h4>
                                                    <p class="weui-media-box__desc together-tag">
                                                        <span>大乐透</span>
                                                        <span>保底64份</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="weui-flex together-table">
                                                <div class="weui-flex__item">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>合买总金额</th>
                                                                <th>每份金额</th>
                                                                <th>剩余份数</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1512元</td>
                                                                <td>18份</td>
                                                                <td>64份</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="togther-btn">
                                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_mini weui-btn_warn">已满</a>
                                                </div>
                                            </div>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta">截止时间：17-08-31 10:45</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">跟单人数：1000</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="weui-panel">
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text">
                                            <div class="weui-flex">
                                                <div class="together-class">
                                                    <div class="class-img" style=" background-image: url('/images/banma/letou.jpg'); "></div>
                                                </div>
                                                <div class="together-title">
                                                    <h4 class="weui-media-box__title">彩运亨通大乐透合买0830期</h4>
                                                    <p class="weui-media-box__desc together-tag">
                                                        <span>大乐透</span>
                                                        <span>保底64份</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="weui-flex together-table">
                                                <div class="weui-flex__item">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>合买总金额</th>
                                                                <th>每份金额</th>
                                                                <th>剩余份数</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1512元</td>
                                                                <td>18份</td>
                                                                <td>64份</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="togther-btn">
                                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_mini weui-btn_default">结束</a>
                                                </div>
                                            </div>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta">截止时间：17-08-31 10:45</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">跟单人数：1000</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="weui-panel">
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text">
                                            <div class="weui-flex">
                                                <div class="together-class">
                                                    <div class="class-img" style=" background-image: url('/images/banma/letou.jpg'); "></div>
                                                </div>
                                                <div class="together-title">
                                                    <h4 class="weui-media-box__title">彩运亨通大乐透合买0830期</h4>
                                                    <p class="weui-media-box__desc together-tag">
                                                        <span>大乐透</span>
                                                        <span>保底64份</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="weui-flex together-table">
                                                <div class="weui-flex__item">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>合买总金额</th>
                                                                <th>每份金额</th>
                                                                <th>剩余份数</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1512元</td>
                                                                <td>18份</td>
                                                                <td>64份</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="togther-btn">
                                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_mini weui-btn_default">结束</a>
                                                </div>
                                            </div>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta">截止时间：17-08-31 10:45</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">跟单人数：1000</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="tab2" class="weui-tab__bd-item">
                            <div class="together-project">
                                <div class="weui-panel">
                                    <div class="weui-panel__hd">
                                        <div class="together-user weui-flex">
                                            <div class="hd">
                                                <div class="user-avatar" style=" background-image: url('/images/banma/eduardo.jpg'); "></div>
                                            </div>
                                            <div class="bd">
                                                <div class="user-name">
                                                    <!-- 专家名称 -->
                                                    竞彩一哥
                                                </div>
                                                <div class="togeter-info">不怕千次落空，但求一次成功不怕千次落空，但求一次成功不怕千次落空</div>
                                            </div>                            
                                        </div>
                                    </div>
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text">
                                            <div class="weui-flex">
                                                <div class="together-class">
                                                    <div class="class-img" style=" background-image: url('/images/banma/letou.jpg'); "></div>
                                                </div>
                                                <div class="together-title">
                                                    <h4 class="weui-media-box__title">彩运亨通大乐透合买0830期</h4>
                                                    <p class="weui-media-box__desc together-tag">
                                                        <span>大乐透</span>
                                                        <span>保底64份</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="weui-flex together-table">
                                                <div class="weui-flex__item">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>合买总金额</th>
                                                                <th>每份金额</th>
                                                                <th>剩余份数</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1512元</td>
                                                                <td>18份</td>
                                                                <td>64份</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="togther-btn">
                                                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">参与</a>
                                                </div>
                                            </div>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta">截止时间：17-08-31 10:45</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">跟单人数：1000</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="weui-panel">
                                    <div class="weui-panel__hd">
                                        <div class="together-user weui-flex">
                                            <div class="hd">
                                                <div class="user-avatar" style=" background-image: url('/images/banma/eduardo.jpg'); "></div>
                                            </div>
                                            <div class="bd">
                                                <div class="user-name">
                                                    <!-- 专家名称 -->
                                                    竞彩一哥
                                                </div>
                                                <div class="togeter-info">不怕千次落空，但求一次成功不怕千次落空，但求一次成功不怕千次落空</div>
                                            </div>                            
                                        </div>
                                    </div>
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text">
                                            <div class="weui-flex">
                                                <div class="together-class">
                                                    <div class="class-img" style=" background-image: url('/images/banma/letou.jpg'); "></div>
                                                </div>
                                                <div class="together-title">
                                                    <h4 class="weui-media-box__title">彩运亨通大乐透合买0830期</h4>
                                                    <p class="weui-media-box__desc together-tag">
                                                        <span>大乐透</span>
                                                        <span>保底64份</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="weui-flex together-table">
                                                <div class="weui-flex__item">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>合买总金额</th>
                                                                <th>每份金额</th>
                                                                <th>剩余份数</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1512元</td>
                                                                <td>18份</td>
                                                                <td>64份</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="togther-btn">
                                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_mini weui-btn_warn">已满</a>
                                                </div>
                                            </div>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta">截止时间：17-08-31 10:45</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">跟单人数：1000</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="weui-panel">
                                    <div class="weui-panel__hd">
                                        <div class="together-user weui-flex">
                                            <div class="hd">
                                                <div class="user-avatar" style=" background-image: url('/images/banma/eduardo.jpg'); "></div>
                                            </div>
                                            <div class="bd">
                                                <div class="user-name">
                                                    <!-- 专家名称 -->
                                                    竞彩一哥
                                                </div>
                                                <div class="togeter-info">不怕千次落空，但求一次成功不怕千次落空，但求一次成功不怕千次落空</div>
                                            </div>                            
                                        </div>
                                    </div>
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text">
                                            <div class="weui-flex">
                                                <div class="together-class">
                                                    <div class="class-img" style=" background-image: url('/images/banma/letou.jpg'); "></div>
                                                </div>
                                                <div class="together-title">
                                                    <h4 class="weui-media-box__title">彩运亨通大乐透合买0830期</h4>
                                                    <p class="weui-media-box__desc together-tag">
                                                        <span>大乐透</span>
                                                        <span>保底64份</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="weui-flex together-table">
                                                <div class="weui-flex__item">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>合买总金额</th>
                                                                <th>每份金额</th>
                                                                <th>剩余份数</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1512元</td>
                                                                <td>18份</td>
                                                                <td>64份</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="togther-btn">
                                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_mini weui-btn_default">结束</a>
                                                </div>
                                            </div>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta">截止时间：17-08-31 10:45</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">跟单人数：1000</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <% include _footer.html %>
</body>

</html>
