<!DOCTYPE html>
<html>

<head>
    <title>会员中心-推荐记录</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="bm-container">
        <div class="bm-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/banma/my_bg1.png');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/banma/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>周杰伦</p><!-- 微信名称 -->
                        <div class="expert-name">专家名称：斑马310</div><!-- 专家名称 -->
                    </div>
                    
                </div>
            </div>
            <div class="bd">
                <div class="panel-box">
                    <div class="panel-t weui-flex">
                        <div class="title weui-flex__item">推荐记录</div>
                    </div>
                </div>
                <div class="weui-cells history-list">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>08月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>07月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>06月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>05月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>04月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>03月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>02月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>01月份推荐</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                </div>
                <!-- 点月份之后列出当月推荐 -->
                <div class="panel-box">
                    <div class="panel-t weui-flex">
                        <div class="title weui-flex__item">08月份推荐</div>
                        <a href="" class="more">
                            返回推荐记录
                        </a>
                    </div>
                </div>
                <div class="weui-cells history-list">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>2017-08-31 20：00</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                </div>

            </div>
        </div>


    </div>

    <% include _footer.html %>
</body>

</html>
