<!DOCTYPE html>
<html>

<head>
    <title>合买计划-详情</title>
    <% include _head.html %>
</head>

<body ontouchstart>
    <div class="bm-footer">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="price">
                    每份金额：18.00元
                </div>
            </div>
            <a href="javascript:;" class="weui-btn weui-btn_warn">参与合买</a>
        </div>
        
    </div>

    <div class="bm-container with-ft">
        <div class="together-detail">
            <div class="together-hd">
                <div class="detail-title">彩运亨通大乐透合买0830期</div>
                <div class="weui-flex detail-count">
                    <div class="weui-flex__item item">
                        <div class="sum">1512.00</div>
                        <p>总金额</p>
                    </div>
                    <div class="weui-flex__item item">
                        <div class="sum">18.00</div>
                        <p>每份金额</p>
                    </div>
                    <div class="weui-flex__item item">
                        <div class="sum">84</div>
                        <p>剩余份数</p>
                    </div>
                    <div class="weui-flex__item item">
                        <div class="sum">84</div>
                        <p>保底份数</p>
                    </div>
                </div>
                <div class="detail-user weui-flex">
                    <div class="hd">
                        <div class="user-avatar" style=" background-image: url('/images/banma/eduardo.jpg'); "></div>
                    </div>
                    <div class="bd">
                        <div class="user-name">
                            <!-- 专家名称 -->
                            竞彩一哥
                        </div>
                    </div>                            
                </div>
            </div>
            <div class="together-bd">
                <div class="panel-box">
                    <div class="panel-t weui-flex">
                        <div class="title weui-flex__item">合买计划介绍</div>
                    </div>
                </div>
                <article class="weui-article">
                    <section>
                        <h2 class="title">方案说明：</h2>
                        <section>
                            <p>
                                方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明方案说明
                            </p>
                        </section>

                        <h2 class="title">截止时间：</h2>
                        <section>
                            <p>
                                2017年8月31日02:03:33
                            </p>
                        </section>

                        <h2 class="title">投注方案：</h2>
                        <section>
                            <p>
                                <img src="/images/banma/04.jpg" alt="">
                            </p>
                        </section>
                    </section>
                </article>
            </div>
        </div>

    </div>
    
    <% include _foot.html %>

</body>

</html>