<!DOCTYPE html>
<html>

<head>
    <title>合买计划-提交完成</title>
    <% include _head.html %>
</head>

<body ontouchstart>
    <div class="bm-container">
        <div class="together-result">
            <div class="qr-box">
                <div class="qr-img">
                    <img src="/images/banma/qr.png" alt="">
                </div>
                <div class="qr-info">长按二维码图片扫码与专家成为好友</div>
            </div>
            <div class="weui-cells__tips">
                操作说明：<br/>
                1.长按识别图中二维码添加彩店业主成为好友；<br/>
                2.与彩店业主联系确认参与份数，等待彩店业主确认。
            </div>
        </div>
    </div>
    <% include _foot.html %>
</body>

</html>