<!DOCTYPE html>
<html>

<head>
    <title>爱心帮-公益项目</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    <div class="weui-grids axb3-quick-nav">
        <a href="buttons.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d11 s4"></span>
            </div>
            <p class="weui-grid__label">
                肺癌
            </p>
        </a>
        <a href="cell.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d12 s1"></span>
            </div>
            <p class="weui-grid__label">
                血友病
            </p>
        </a>
        <a href="form.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d13 s5"></span>
            </div>
            <p class="weui-grid__label">
                骨科
            </p>
        </a>
        <a href="flex.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d14 s3"></span>
            </div>
            <p class="weui-grid__label">
                风湿免疫
            </p>
        </a>
        <a href="toast.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d15 s1"></span>
            </div>
            <p class="weui-grid__label">
                其他肿瘤
            </p>
        </a>
        <a href="dialog.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d16 s4"></span>
            </div>
            <p class="weui-grid__label">
                糖尿病心血管
            </p>
        </a>
        <a href="progress.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d17 s2"></span>
            </div>
            <p class="weui-grid__label">
                罕见病及其他
            </p>
        </a>
        <a href="msg.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <span class="axbicon axbicon-d18 s3"></span>
            </div>
            <p class="weui-grid__label">
                公益项目
            </p>
        </a>
    </div>

    <% include _footer.html %>
</body>

</html>
