<!DOCTYPE html>
<html>

<head>
    <title>爱心帮-公益项目</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    <div class="axb3-header">
        <div class="axb3-topbar">
            <div class="axb3-logo"><img src="/images/axb3/logo.png" alt=""></div>
            <h1 class="axb3-title">爱心帮导航</h1>
            <div class="axb3-menu"><span class="axbicon axbicon-menu"></span></div>
        </div>
        <div class="weui-flex axb3-top-nav" style="display: none;">
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-news"></span></div>
                <div class="top-nav__label">最新动态</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-d8"></span></div>
                <div class="top-nav__label">公益项目</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-postion"></span></div>
                <div class="top-nav__label">公益网点</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-case"></span></div>
                <div class="top-nav__label">个案援助</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-fund"></span></div>
                <div class="top-nav__label">发起筹款</div>
            </a>
        </div>
        <div class="weui-cells weui-cells_form weui-cell_access drugstore-city">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="drugstore-city" class="weui-label">您查询的区域是</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="drugstore-city" type="text" placeholder="请选择城市">
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        </div>
    </div>
    <div class="axb3-container with-search">
        <div class="weui-panel weui-panel_access project-list">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/axb3/03.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">百好堂大药店-七分店</h4>
                        <p class="weui-media-box__desc">地址:北京市朝阳区朝阳路5号院8号楼底商。</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/axb3/04.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">百好堂大药店-七分店</h4>
                        <p class="weui-media-box__desc">地址:北京市朝阳区朝阳路5号院8号楼底商。</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/axb3/03.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">百好堂大药店-七分店</h4>
                        <p class="weui-media-box__desc">地址:北京市朝阳区朝阳路5号院8号楼底商。</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/axb3/04.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">百好堂大药店-七分店</h4>
                        <p class="weui-media-box__desc">地址:北京市朝阳区朝阳路5号院8号楼底商。</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/axb3/03.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">百好堂大药店-七分店</h4>
                        <p class="weui-media-box__desc">地址:北京市朝阳区朝阳路5号院8号楼底商。</p>
                    </div>
                </a>
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/images/axb3/04.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">百好堂大药店-七分店</h4>
                        <p class="weui-media-box__desc">地址:北京市朝阳区朝阳路5号院8号楼底商。</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <% include _footer.html %>
    <script src="/js/city-picker.js"></script>

    <script>
      $("#drugstore-city").cityPicker({
        title: "选择目的地",
        showDistrict: false,
        onChange: function (picker, values, displayValues) {
          console.log(values, displayValues);
        }
      });
    </script>
</body>

</html>
