<!DOCTYPE html>
<html>

<head>
    <title>爱心帮-公益项目-详情</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    <div class="axb3-header">
        <div class="axb3-topbar">
            <div class="axb3-logo"><img src="/images/axb3/logo.png" alt=""></div>
            <h1 class="axb3-title">爱心帮导航</h1>
            <div class="axb3-menu"><span class="axbicon axbicon-menu"></span></div>
        </div>
        <div class="weui-flex axb3-top-nav" style="display: none;">
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-news"></span></div>
                <div class="top-nav__label">最新动态</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-d8"></span></div>
                <div class="top-nav__label">公益项目</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-postion"></span></div>
                <div class="top-nav__label">公益网点</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-case"></span></div>
                <div class="top-nav__label">个案援助</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-fund"></span></div>
                <div class="top-nav__label">发起筹款</div>
            </a>
        </div>
    </div>
    <div class="weui-mask"></div>

    <div class="axb3-footer">
        <div class="footer-btn">
            <a href="javascript:;" class="weui-btn weui-btn_default"><span class="axbicon axbicon-share"></span> 转发</a>
            <a href="javascript:;" id="show-hotline" class="weui-btn weui-btn_default flex-1"><span class="axbicon axbicon-tel"></span> 热线电话</a>
            <a href="javascript:;" class="weui-btn weui-btn_default flex-1 open-popup" data-target="#half"><span class="axbicon axbicon-heart"></span> 爱心捐助</a>
        </div>
    </div>
    <div class="weui-mask"></div>
    <div id="half" class="weui-popup__container popup-bottom with-ft">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="javascript:;" class="picker-button close-popup">关闭</a>
                    <h1 class="title">请输入捐款金额</h1>
                </div>
            </div>
            <div class="modal-content axb3-modal-content">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="axb3-actions-radio">
                                <div class="item">
                                    <input type="radio" class="actions-radio" name="radio1" id="q11"/>
                                    <label class="actions-radio-label" for="q11" >20元</label>
                                </div>
                                <div class="item">
                                    <input type="radio" class="actions-radio" name="radio1" id="q12"/>
                                    <label class="actions-radio-label" for="q12">50元</label>
                                </div>
                                <div class="item">
                                    <input type="radio" class="actions-radio" name="radio1" id="q13"/>
                                    <label class="actions-radio-label" for="q13">100元</label>
                                </div>
                                <div class="item">
                                    <input type="radio" class="actions-radio" name="radio1" id="q14"/>
                                    <label class="actions-radio-label" for="q14">200元</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="其他金额">
                        </div>
                    </div>
                </div>
                <label for="weuiAgree" class="weui-agree">
                    <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
                    <span class="weui-agree__text">
                        已阅读并同意<a href="javascript:void(0);">《爱心帮导航用户协议》</a>
                    </span>
                </label>
                <div class="weui-cells__tips"><a href="#">大额转账流程及支付说明</a></div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
                </div>

            </div>
        </div>
    </div>

    <div class="axb3-container with-hd with-ft">
        <div class="project-detail">
            <div class="hd">
                <div class="detail-title">
                    <img src="/images/axb3/banner3.jpg" alt="" class="detail-img">
                    <div class="detail-name">骨舞人生-严重骨质疏松患者援助项目</div>
                </div>
                <div class="detail-count">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <div class="item-icon">
                                <span class="axbicon axbicon-city s1"></span>
                            </div>
                            <div class="item-label">
                                <div class="item-name">覆盖城市</div>
                                <div class="item-sum">8</div>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="item-icon">
                                <span class="axbicon axbicon-patient s2"></span>
                            </div>
                            <div class="item-label">
                                <div class="item-name">援助患者</div>
                                <div class="item-sum">5243</div>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="item-icon">
                                <span class="axbicon axbicon-d18 s3"></span>
                            </div>
                            <div class="item-label">
                                <div class="item-name">爱心捐助</div>
                                <div class="item-sum">6785432</div>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="item-icon">
                                <span class="axbicon axbicon-people s4"></span>
                            </div>
                            <div class="item-label">
                                <div class="item-name">捐助人次</div>
                                <div class="item-sum">16452</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd">
                <article class="weui-article detail-cont">
                    <h1>项目详情</h1>
                    <section>
                        <section>
                            <p><strong>项目目的</strong></p>
                            <p>为了帮助确诊为非小细胞肺癌的患者得到及时有效的治疗，减轻患者经济负担，延长患者生命</p>
                            <p>&nbsp;</p>
                            <p><strong>医学条件</strong></p>
                            <ul>
                                <li>患者必须是经病理学或细胞学证实的符合吉非替尼片适应症的原发性IIIB或者IV期的非小细胞肺癌；</li>
                                <li>患者在吉非替尼片治疗之前必须经影像学检查，确认存在病灶；</li>
                                <li>一线适应症患者，EGFR检测结果必须为阳性的(组织标本或血液标本检测均可接受）；</li>
                                <li>二线适应症患者服用吉非替尼片前必须接受过至少一次抗肿瘤的化学治疗；</li>
                                <li>准备申请本项目的患者，服用吉非替尼片期间不得再进行其他抗肿瘤的化学治疗；</li>
                                <li>患者必须没有其他与吉非替尼片治疗相抵触的临床状况；</li>
                                <li>患者体力状态KPS&gt;60分；</li>
                                <li>有足够的临床证据证实患者能够从吉非替尼片治疗中获益且无严重不良反应。（获益是指肿瘤病灶按照RECIST评价标准没有进展；无严重不良反应是指未发生因吉非替尼片治疗引起的不可逆转或者不可耐受的伤害)"。</li>
                                <li>&nbsp;</li>
                            </ul>
                            <p><strong>其他条件</strong></p>
                            <ul>
                                <li>本项目援助对象为持有中国人民共和国居民身份证/军官证的患者。</li>
                                <li>符合本项目规定的低保及低收入患者。</li>
                                <li>患者已使用的吉非替尼片必须是经国家药监局批准的药品。</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p><strong>终止条件</strong></p>
                            <ul>
                                <li>吉非替尼片患者按照RECIST标准出现肿瘤进展（包括原有病灶增大或出现任何的新转移灶）；</li>
                                <li>患者无法提供随访要求的胸部CT或核磁共振的检查结果报告或无法向医生提供原始片子 ；</li>
                                <li>项目注册医生认定患者出现疾病进展或严重不良反应；</li>
                                <li>患者提供不实的申请材料；</li>
                                <li>患者将援助药品出售或转赠他人；</li>
                                <li>患者不能按要求每月亲自领药且每两个月到项目注册医生处复查病情；</li>
                                <li>患者或法律监护人/亲属要求停止使用吉非替尼片治疗；</li>
                                <li>由于不可抗力等造成援助药品项目被迫中止；</li>
                                <li>已过本项目申请截止时间，或者未到申请截止时间但援助药品已经使用完毕；</li>
                                <li>患者死亡；</li>
                                <li>患者自愿退出本援助项目</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p><strong>法律声明</strong></p>
                            <p>1）对于患者的个人信息及医学资料（“患者信息和资料”），我们将严格保密，不会用于任何商业用途，仅用于项目的管理、执行和审计。患者信息和资料将由主办方或项目委托执行保留，除卫生监管部门审查监督外，不会披露给其他第三方。涉及到用药不良事件时，在符合适用的法律法规的前提下，相关患者信息和资料会披露给药品捐赠方的药品不良反应监管部门，其可能会就此进行跟进和随访，将该等信息录入到药品捐赠方的药品不良事件数据库并按照相关法律规定上报给相关法规部门。</p>
                            <p>2)本项目为自愿申请形式。</p>
                            <p>3)生命奇迹-肺癌靶向治疗浙江省专项患者援助项目的一切解释权归中国初级卫生保健基金会所有。</p>
                            <p>&nbsp;</p>
                            <p><strong>援助热线：4000-139-103</strong></p>
                            <p><strong>电子邮箱： iressapap@cphcf.org.cn</strong></p>
                            <p><strong>网址：http://iressapap.ilvzhou.com</strong></p>
                            <p><strong>资料邮寄地址（只接EMS收特快专递）：上海邮政011-028信箱&nbsp; 中国初级卫生保健基金会 生命奇迹-肺癌靶向治疗浙江省专项援助项目 办公室</strong></p>
                            <p><strong>项目监督电话：010——57472622</strong></p>
                        </section>
                    </section>
                </article>

            </div>
        </div>

    </div>

    <% include _footer.html %>
    <script>
      $(document).on("click", "#show-hotline", function() {
        $.alert("确定拔打电话:4000186072吗?", "提示");
      });
      $(document).on("open", ".weui-popup-modal", function() {
            console.log("open popup");
        }).on("close", ".weui-popup-modal", function() {
            console.log("close popup");
        });
    </script>
</body>

</html>
