<!DOCTYPE html>
<html>

<head>
    <title>爱心帮-捐款成功</title>
    <% include _header.html %>
</head>

<body ontouchstart>
    <div class="axb3-header">
        <div class="axb3-topbar">
            <div class="axb3-logo"><img src="/images/axb3/logo.png" alt=""></div>
            <h1 class="axb3-title">爱心帮导航</h1>
            <div class="axb3-menu"><span class="axbicon axbicon-menu"></span></div>
        </div>
        <div class="weui-flex axb3-top-nav" style="display: none;">
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-news"></span></div>
                <div class="top-nav__label">最新动态</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-d8"></span></div>
                <div class="top-nav__label">公益项目</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-postion"></span></div>
                <div class="top-nav__label">公益网点</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-case"></span></div>
                <div class="top-nav__label">个案援助</div>
            </a>
            <a href="#" class="weui-flex__item">
                <div class="top-nav__icon"><span class="axbicon axbicon-fund"></span></div>
                <div class="top-nav__label">发起筹款</div>
            </a>
        </div>
    </div>
    <div class="weui-mask"></div>
    
    <div class="axb3-tips" style="display: none;">
        <div class="weui_mask"></div>
        <div class="axb3-tips-box"><img class="tips-share" src="/images/axb3/wechat_share.png"></div>
    </div>

    <div class="axb3-container with-hd" style="height: 100%;">
        
        <div class="axb3-donation-success">
            <div class="hd">
                <div class="donation-success-box">
                    <div class="donation-success-title"><h3>张三，谢谢您献出爱心！</h3></div>
                    <div class="donation-success-info">您已成功捐助“爱加艾减公益项目”项目</div>
                    <div class="donation-success-share">点击右上角分享给朋友，放大您的爱心！</div>
                    <div class="donation-success-link">
                        <a href="#">返回项目详情</a>
                        <a href="#">查看捐款记录</a>
                    </div>
                </div>
            </div>

            <div class="bd">
                <div class="axb-qr">
                    <div class="axb-qr-hd"><img class="qr-img" src="/images/axb3/qrcode.jpg" alt=""></div>
                    <div class="axb-qr-bd">
                        <p>降低病患成本 提高生命质量</p>   
                        长按二维码，关注“爱心帮导航”
                    </div>
                </div>

            </div>
        </div>

    </div>

    <% include _footer.html %>
</body>

</html>
