<!DOCTYPE html>
<html>
  <head>
    <title>医签到</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <div class="ci-hd">
      <div class="ci-topbar">
        <div class="start-item">
          <a class="backbtn" href="#">上一步</a>
        </div>
        <h1 class="title">银行卡</h1>
        <div class="end-item">
          <a href="#">+</a>
        </div>
      </div>
    </div>

    <div class="ci-bd with-hd">
        <div class="bank-card">
            <div class="item">
                <div class="bank-logo">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-abc"></use>
                    </svg>
                </div>
                <div class="bank-info">
                    <div class="bank-name">中国农业银行</div>
                    <div class="bank-type">储蓄卡</div>
                    <div class="bank-num">
                        <span>****</span>
                        <span>****</span>
                        <span>****</span>
                        <span>1179</span>
                    </div>
                </div>
                <div class="bank-bg">
                    <span class="myicon myicon-abc"></span>
                </div>
            </div>

            <div class="item">
                <div class="bank-logo">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pab"></use>
                    </svg>
                </div>
                <div class="bank-info">
                    <div class="bank-name">中国农业银行</div>
                    <div class="bank-type">储蓄卡</div>
                    <div class="bank-num">
                        <span>****</span>
                        <span>****</span>
                        <span>****</span>
                        <span>1179</span>
                    </div>
                </div>
                <div class="bank-bg">
                    <span class="myicon myicon-pab"></span>
                </div>
            </div>

            <div class="item">
                <div class="bank-logo">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-ceb"></use>
                    </svg>
                </div>
                <div class="bank-info">
                    <div class="bank-name">中国农业银行</div>
                    <div class="bank-type">储蓄卡</div>
                    <div class="bank-num">
                        <span>****</span>
                        <span>****</span>
                        <span>****</span>
                        <span>1179</span>
                    </div>
                </div>
                <div class="bank-bg">
                    <span class="myicon myicon-ceb"></span>
                </div>
            </div>
        </div>
    </div>
    <% include _foot.html %>
</body>
</html>
