<!DOCTYPE html>
<html>
  <head>
    <title>医签到</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <div class="ci-hd">
      <div class="ci-topbar">
        <div class="start-item">
          <a class="backbtn" href="#">上一步</a>
        </div>
        <h1 class="title">个人中心</h1>
      </div>
    </div>

    <div class="ci-bd with-hd">
        <div class="ci-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/ycheckin/uc-bg.png');">
                    <div class="avatar-border">
                        <div class="avatar" style="background-image: url('/images/ycheckin/avatar.png');"></div>
                    </div>
                    <div class="name">
                        <p>清风徐来</p>
                    </div>
                    
                </div>
            </div>
            <div class="bd">
                <div class="weui-cells uc-nav">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-wallet"></use>
                            </svg>
                        </div>
                        <div class="weui-cell__bd">
                            <p>我的钱包</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell" href="javascript:;">
                        <div class="weui-cell__hd">
                            
                        </div>
                        <div class="weui-cell__bd">
                            <p>可提现金额（元）</p>
                        </div>
                        <div class="weui-cell__ft">
                            266.88
                        </div>
                    </a>
                </div>

                <div class="weui-cells uc-nav">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-info"></use>
                            </svg>
                        </div>
                        <div class="weui-cell__bd">
                            <p>个人基础资料</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-about"></use>
                            </svg>
                        </div>
                        <div class="weui-cell__bd">
                            <p>医签到简介</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-contact"></use>
                            </svg>
                        </div>
                        <div class="weui-cell__bd">
                            <p>联系我们</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% include _foot.html %>
  </body>
</html>
