<!DOCTYPE html>
<html>
  <head>
    <title>医签到</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <div class="ci-hd">
      <div class="ci-topbar">
        <div class="start-item">
          <a class="backbtn" href="#">上一步</a>
        </div>
        <h1 class="title">我的钱包</h1>
      </div>
    </div>

    <div class="ci-bd with-hd with-graybg">
        <div class="ci-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/ycheckin/uc-bg.png');">
                    <div class="avatar-border">
                        <div class="avatar" style="background-image: url('/images/ycheckin/avatar.png');"></div>
                    </div>
                    <div class="name">
                        <p>清风徐来</p>
                    </div>
                </div>
            </div>
            <div class="bd no-shadow">
                <div class="weui-tab ci-tab">
                    <div class="weui-navbar">
                        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                            可用优惠券 6
                        </a>
                        <a class="weui-navbar__item" href="#tab2">
                            已使用/已过期
                        </a>
                    </div>
                    <div class="weui-tab__bd">
                        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                            <div class="no-data">
                                <img src="/images/ycheckin/nodata-1.png" alt="没有签到记录">
                                <p>您还没有优惠券</p>
                            </div>
                            <div class="quan-list">
                              <div class="quan-item">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_orange weui-btn_mini">立即使用</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>

                              <div class="quan-item">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_orange weui-btn_mini">立即使用</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>

                              <div class="quan-item">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_orange weui-btn_mini">立即使用</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>

                              <div class="quan-item">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_orange weui-btn_mini">立即使用</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>
                            </div>
                        </div>
                        <div id="tab2" class="weui-tab__bd-item">
                            <div class="no-data">
                                <img src="/images/ycheckin/nodata-2.png" alt="没有提现记录">
                                <p>您还没有使用记录</p>
                            </div>
                            <div class="quan-list">
                              <div class="quan-item used">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已使用</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>
                            
                              <div class="quan-item used">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已过期</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>
                            
                              <div class="quan-item used">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已使用</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>
                            
                              <div class="quan-item used">
                                <div class="quan-bd">
                                  <div class="quan-img">
                                    <img src="/images/ycheckin/01.png" alt="">
                                  </div>
                                  <div class="quan-cont">
                                    <div class="title">良品铺子全品类满99减50</div>
                                    <div class="price">50元代金券</div>
                                  </div>
                                  <div class="quan-btn">
                                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已使用</a>
                                  </div>
                                </div>
                                <div class="quan-circle"></div>
                                <div class="quan-ft">到期时间：2018/12/31</div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include _foot.html %>
    <script>
        $(document).on("click", "#show-alert", function() {
            $.modal({
              text: "对不起金额要大于0才能提现。",
              buttons: [
                { text: "确定", className: "yellow"},
              ]
            });
        });
    </script>
</body>
</html>
