<!DOCTYPE html>
<html>
    <head>
        <title>医签到</title>
        <% include _head.html %>
    </head>

<body ontouchstart>
    <div class="ci-bd with-graybg">
        <div class="ci-msg-card">
            <div class="hd weui-flex">
                <div class="weui-flex__item title">
                    已签到人数<br/>
                    <span>300</span>
                </div>
                <div class="weui-flex__item">
                    <img src="/images/ycheckin/success.png" alt="">
                </div>
            </div>
            <div class="bd">
                <div class="ci-qrbox">
                    <div class="qr-title">
                        上海市徐汇区骨关节炎座谈会><br/>
                        <span class="info">长按此二维码体验签到</span>
                    </div>
                    <div class="qr-img">
                        <img src="/images/ycheckin/01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include _foot.html %>
</body>
</html>
