<!DOCTYPE html>
<html>
  <head>
    <title>医签到</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <div class="ci-bd with-graybg">
        <div class="ci-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/ycheckin/uc-bg.png');">
                    <div class="avatar-small">
                        <div class="avatar-border">
                            <div class="avatar" style="background-image: url('/images/ycheckin/avatar.png');"></div>
                        </div>
                        <div class="name">
                            <p>清风徐来</p>
                        </div>
                    </div>
                    <div class="uc-rightmount">￥266666.88</div>
                </div>
            </div>
            <div class="bd no-shadow">
                <div class="weui-tab ci-tab">
                  <div class="weui-navbar">
                    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                      未提取 6
                    </a>
                    <a class="weui-navbar__item" href="#tab2">
                      已提取
                    </a>
                  </div>
                  <div class="weui-tab__bd">
                    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                      <!-- <div class="no-data">
                        <img src="/images/ycheckin/nodata-1.png" alt="没有签到记录">
                        <p>您还没有签到记录</p>
                      </div> -->
                      <div class="weui-cells ci-list">
                        <a class="weui-cell" href="javascript:;">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/01.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div class="weui-cell__bd">
                            <p>上海市徐汇区骨关节炎座谈会</p>
                            <p class="time">10-25 15:10</p>
                          </div>
                          <div class="weui-cell__ft list-amount">
                            ￥58.00
                            <br/>
                            <div class="weui-btn weui-btn_yellow weui-btn_mini">提取补助</div>
                          </div>
                        </a>
                        <a class="weui-cell" href="javascript:;">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/02.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div class="weui-cell__bd">
                            <p>上海市徐汇区骨关节炎座谈会</p>
                            <p class="time">10-25 15:10</p>
                          </div>
                          <div class="weui-cell__ft list-amount">
                            ￥78.00
                            <br/>
                            <div class="weui-btn weui-btn_yellow weui-btn_mini">提取补助</div>
                          </div>
                        </a>
                        <a class="weui-cell" href="javascript:;">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/03.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div class="weui-cell__bd">
                            <p>上海市徐汇区骨关节炎座谈会</p>
                            <p class="time">10-25 15:10</p>
                          </div>
                          <div class="weui-cell__ft list-amount">
                            ￥88.00
                            <br/>
                            <div class="weui-btn weui-btn_yellow weui-btn_mini">提取补助</div>
                          </div>
                        </a>
                        <a class="weui-cell" href="javascript:;">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/01.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div class="weui-cell__bd">
                            <p>上海市徐汇区骨关节炎座谈会</p>
                            <p class="time">10-25 15:10</p>
                          </div>
                          <div class="weui-cell__ft list-amount">
                            ￥58.00
                            <br/>
                            <div class="weui-btn weui-btn_yellow weui-btn_mini">提取补助</div>
                          </div>
                        </a>
                        <a class="weui-cell" href="javascript:;">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/02.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div class="weui-cell__bd">
                            <p>上海市徐汇区骨关节炎座谈会</p>
                            <p class="time">10-25 15:10</p>
                          </div>
                          <div class="weui-cell__ft list-amount">
                            ￥78.00
                            <br/>
                            <div class="weui-btn weui-btn_yellow weui-btn_mini">提取补助</div>
                          </div>
                        </a>
                        <a class="weui-cell" href="javascript:;">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/03.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div class="weui-cell__bd">
                            <p>上海市徐汇区骨关节炎座谈会</p>
                            <p class="time">10-25 15:10</p>
                          </div>
                          <div class="weui-cell__ft list-amount">
                            ￥88.00
                            <br/>
                            <div class="weui-btn weui-btn_yellow weui-btn_mini">提取补助</div>
                          </div>
                        </a>
                      </div>
                    </div>
                    
                    <div id="tab2" class="weui-tab__bd-item">
                      <!-- <div class="no-data">
                        <img src="/images/ycheckin/nodata-2.png" alt="没有提现记录">
                        <p>您还没有提取记录</p>
                      </div> -->
                      <div class="weui-cells ci-list">
                        <div class="weui-cell takeout">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/01.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div>
                            <div class="weui-flex">
                              <div class="weui-cell__bd">
                                <p>上海市徐汇区骨关节炎座谈会</p>
                                <p class="time">10-25 15:10</p>
                              </div>
                              <div class="weui-cell__ft">
                                ￥58.00
                                <i class="weui-icon-info"></i>
                                <br/>
                                <div class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已提取补助</div>
                              </div>
                            </div>
                            <div class="extra-info" style="display: none">
                              <div class="weui-form-preview">
                                <div class="weui-form-preview__bd">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税前</label>
                                    <span class="weui-form-preview__value">￥1500.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">个人所得税</label>
                                    <span class="weui-form-preview__value">￥300.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">手续费</label>
                                    <span class="weui-form-preview__value">￥3.75</span>
                                  </div>
                                </div>
                                <div class="weui-form-preview__bd" style="border-top: #eee solid 1px;">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税后</label>
                                    <span class="weui-form-preview__value" style="font-size: 16px; color: #666;">￥1194.43</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="weui-cell takeout">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/01.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div>
                            <div class="weui-flex">
                              <div class="weui-cell__bd">
                                <p>上海市徐汇区骨关节炎座谈会</p>
                                <p class="time">10-25 15:10</p>
                              </div>
                              <div class="weui-cell__ft">
                                ￥58.00
                                <i class="weui-icon-info"></i>
                                <br/>
                                <div class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已提取补助</div>
                              </div>
                            </div>
                            <div class="extra-info" style="display: none">
                              <div class="weui-form-preview">
                                <div class="weui-form-preview__bd">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税前</label>
                                    <span class="weui-form-preview__value">￥1500.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">个人所得税</label>
                                    <span class="weui-form-preview__value">￥300.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">手续费</label>
                                    <span class="weui-form-preview__value">￥3.75</span>
                                  </div>
                                </div>
                                <div class="weui-form-preview__bd" style="border-top: #eee solid 1px;">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税后</label>
                                    <span class="weui-form-preview__value" style="font-size: 16px; color: #666;">￥1194.43</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="weui-cell takeout">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/01.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div>
                            <div class="weui-flex">
                              <div class="weui-cell__bd">
                                <p>上海市徐汇区骨关节炎座谈会</p>
                                <p class="time">10-25 15:10</p>
                              </div>
                              <div class="weui-cell__ft">
                                ￥58.00
                                <i class="weui-icon-info"></i>
                                <br/>
                                <div class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已提取补助</div>
                              </div>
                            </div>
                            <div class="extra-info" style="display: none">
                              <div class="weui-form-preview">
                                <div class="weui-form-preview__bd">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税前</label>
                                    <span class="weui-form-preview__value">￥1500.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">个人所得税</label>
                                    <span class="weui-form-preview__value">￥300.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">手续费</label>
                                    <span class="weui-form-preview__value">￥3.75</span>
                                  </div>
                                </div>
                                <div class="weui-form-preview__bd" style="border-top: #eee solid 1px;">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税后</label>
                                    <span class="weui-form-preview__value" style="font-size: 16px; color: #666;">￥1194.43</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="weui-cell takeout">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/01.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div>
                            <div class="weui-flex">
                              <div class="weui-cell__bd">
                                <p>上海市徐汇区骨关节炎座谈会</p>
                                <p class="time">10-25 15:10</p>
                              </div>
                              <div class="weui-cell__ft">
                                ￥58.00
                                <i class="weui-icon-info"></i>
                                <br/>
                                <div class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已提取补助</div>
                              </div>
                            </div>
                            <div class="extra-info" style="display: none">
                              <div class="weui-form-preview">
                                <div class="weui-form-preview__bd">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税前</label>
                                    <span class="weui-form-preview__value">￥1500.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">个人所得税</label>
                                    <span class="weui-form-preview__value">￥300.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">手续费</label>
                                    <span class="weui-form-preview__value">￥3.75</span>
                                  </div>
                                </div>
                                <div class="weui-form-preview__bd" style="border-top: #eee solid 1px;">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税后</label>
                                    <span class="weui-form-preview__value" style="font-size: 16px; color: #666;">￥1194.43</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="weui-cell takeout">
                          <div class="weui-cell__hd">
                            <img src="/images/ycheckin/01.png" alt="" style="width:50px;margin-right:5px;display:block">
                          </div>
                          <div>
                            <div class="weui-flex">
                              <div class="weui-cell__bd">
                                <p>上海市徐汇区骨关节炎座谈会</p>
                                <p class="time">10-25 15:10</p>
                              </div>
                              <div class="weui-cell__ft">
                                ￥58.00
                                <i class="weui-icon-info"></i>
                                <br/>
                                <div class="weui-btn weui-btn_disabled weui-btn_default weui-btn_mini">已提取补助</div>
                              </div>
                            </div>
                            <div class="extra-info" style="display: none">
                              <div class="weui-form-preview">
                                <div class="weui-form-preview__bd">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税前</label>
                                    <span class="weui-form-preview__value">￥1500.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">个人所得税</label>
                                    <span class="weui-form-preview__value">￥300.00</span>
                                  </div>
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">手续费</label>
                                    <span class="weui-form-preview__value">￥3.75</span>
                                  </div>
                                </div>
                                <div class="weui-form-preview__bd" style="border-top: #eee solid 1px;">
                                  <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">税后</label>
                                    <span class="weui-form-preview__value" style="font-size: 16px; color: #666;">￥1194.43</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <% include _foot.html %>
    <script>
        $(document).on("click", "#show-alert", function() {
            $.modal({
              text: "对不起金额要大于0才能提现。",
              buttons: [
                { text: "确定", className: "yellow"},
              ]
            });
        });
        $(".takeout").click(function(){
            $(this).find(".extra-info").toggle();
        });
    </script>
</body>
</html>
