<!DOCTYPE html>
<html>
    <head>
        <title>医签到</title>
        <% include _head.html %>
    </head>

<body ontouchstart>
    <div class="ci-bd with-graybg">
        <div class="ci-msg-card">
            <div class="hd weui-flex">
                <div class="weui-flex__item title">
                    已签到人数<br/>
                    <span>300</span>
                </div>
                <div class="weui-flex__item">
                    <img src="/images/ycheckin/success.png" alt="">
                </div>
            </div>
            <div class="bd">
                <div class="weui-cells ci-list">
                  <a class="weui-cell" href="javascript:;">
                    <div class="weui-cell__bd">
                      <p>黄晓明</p>
                      <p class="time">已签到</p>
                    </div>
                    <div class="weui-cell__ft">主席</div>
                  </a>
                  <a class="weui-cell" href="javascript:;">
                    <div class="weui-cell__bd">
                      <p>黄晓明</p>
                      <p class="time">已签到</p>
                    </div>
                    <div class="weui-cell__ft">发言人</div>
                  </a>
                  <a class="weui-cell" href="javascript:;">
                    <div class="weui-cell__bd">
                      <p>黄晓明</p>
                      <p class="time">已签到</p>
                    </div>
                    <div class="weui-cell__ft">发言人</div>
                  </a>
                  <a class="weui-cell" href="javascript:;">
                    <div class="weui-cell__bd">
                      <p>黄晓明</p>
                      <p class="time">已签到</p>
                    </div>
                    <div class="weui-cell__ft">主席</div>
                  </a>
                  <a class="weui-cell" href="javascript:;">
                    <div class="weui-cell__bd">
                      <p>黄晓明</p>
                      <p class="time">已签到</p>
                    </div>
                    <div class="weui-cell__ft">发言人</div>
                  </a>
                  <a class="weui-cell" href="javascript:;">
                    <div class="weui-cell__bd">
                      <p>黄晓明</p>
                      <p class="time">已签到</p>
                    </div>
                    <div class="weui-cell__ft">发言人</div>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <% include _foot.html %>
</body>
</html>
