<!DOCTYPE html>
<html>
    <head>
        <title>jQuery WeUI</title>
        <% include _head.html %>
    </head>

<body ontouchstart>
    <div class="schedule-box">
        <div class="schedule-list">
            <div class="item">
                <p class="schedule-c">提现申请已提交，等待银行处理</p>
                <p class="schedule-d">
                    农业银行储蓄卡(1179)<br/>
                    ￥2000.00
                </p>
            </div>
            <div class="item">
                <p class="schedule-c">提现申请已提交，等待银行处理</p>
                <p class="schedule-d">
                    农业银行储蓄卡(1179)<br/>
                    ￥2000.00
                </p>
            </div>
            <div class="item">
                <p class="schedule-c">预计2小时内（19：00）前到账</p>
            </div>
        </div>
        <p class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_default">完成</a>
        </p>
    </div>
    <% include _foot.html %>
</body>
</html>
