<!DOCTYPE html>
<html>
    <head>
        <title>jQuery WeUI</title>
        <% include _head.html %>
    </head>

<body ontouchstart>

    <div class="weui-msg withdraw-msg">
        <div class="weui-msg__icon-area">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wxpay"></use>
            </svg>
        </div>
        <div class="weui-msg__amount-area">
            <h4>提现成功</h4>
            <p>￥2000.00</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:;" class="weui-btn weui-btn_default">完成</a>
            </p>
        </div>
    </div>
    <% include _foot.html %>
</body>
</html>
