<!DOCTYPE html>
<html>
    <head>
        <title>医签到</title>
        <% include _head.html %>
    </head>

<body ontouchstart>
    <div class="weui-dialog weui-dialog--visible">
      <img class="weui-dialog__hdimg" src="/images/ycheckin/zaodao.jpg" alt="早到">
      <div class="weui-dialog__bd">
        据说早到的人运气都不会太差<br/>签到时间是在9：00-10：00哦！
      </div>
      <div class="weui-dialog__ft">
        <a href="javascript:;" class="weui-dialog__btn yellow">确定</a>
      </div>
    </div>
    <div class="weui-mask weui-mask--visible" style="background: rgba(50,50,50,0.9);"></div>
    <% include _foot.html %>
</body>
</html>
