<!DOCTYPE html>
<html>
    <head>
        <title>医签到</title>
        <% include _head.html %>
    </head>

<body ontouchstart>
    <div class="ci-hd">
        <div class="ci-topbar">
            <div class="start-item">
            <a class="backbtn" href="#">上一步</a>
            </div>
            <h1 class="title">签到</h1>
        </div>
    </div>
    <div class="ci-bd with-hd">
        <div class="weui-msg">
            <div class="weui-msg__text-area">
                <img src="/images/ycheckin/banner.png" alt="">
            </div>
            <div class="weui-msg__icon-area"><i class="myicon myicon-success-outline"></i></div>
            <div class="weui-msg__amount-area">
                <h4>已收到会议补贴</h4>
                <p>66.88<span>元</span></p>
            </div>
            <div class="weui-msg__text-area">
                <p class="weui-msg__desc">感谢您对<span>医签到首次新闻发布会</span>的大力支持，可立即<a href="javascript:void(0);">提现 &gt;</a></p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <!-- <a href="javascript:;" class="weui-btn weui-btn_orange">签到</a> -->
                    <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default">已签到</a>
                </p>
            </div>
        </div>
    </div>
    <% include _foot.html %>
</body>
</html>
