<!DOCTYPE html>
<html>
    <head>
        <title>医签到</title>
        <% include _head.html %>
    </head>

<body ontouchstart>
    <div class="weui-dialog allowance weui-dialog--visible">
        <div class="allowance-bg"></div>
        <div class="weui-dialog__hd">
            <div class="allowance-logo"><img src="/images/ycheckin/logo-pfizer.png" alt=""></div>
        </div>
        <div class="weui-dialog__bd">
            <div class="allowance-cont">
                <h4>辉瑞医药捐赠方辉瑞医药捐赠方辉瑞医药捐赠方</h4>
                <h2>签约医生培训会议</h2>
            </div>
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="allowance-btn ">签到</a>
        </div>
    </div>
    <div class="weui-mask weui-mask--visible"></div>
    <% include _foot.html %>
</body>
</html>
