<!DOCTYPE html>
<html>

<head>
    <title>个人中心-我的玩友</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">我的玩友</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-container with-hd">
        <div class="qlx-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/qlx/my_bg.jpg');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>清风徐来</p>
                        <div class="city">武汉市</div>
                    </div>
                    
                </div>
                <div class="uc-info">
                    <div class="item s1">
                        经验值<p>9999</p>
                    </div>
                    <div class="item s3">
                        级别<p>99</p>
                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="weui-grids qlx-quick-nav">
                    <a href="buttons.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-friend s4"></span>
                        </div>
                        <div class="weui-grid__label">
                            玩友
                            <p>12</p>
                        </div>
                    </a>
                    <a href="cell.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-order s1"></span>
                        </div>
                        <div class="weui-grid__label">
                            订单
                            <p>32</p>
                        </div>
                    </a>
                    <a href="form.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-fav s5"></span>
                        </div>
                        <div class="weui-grid__label">
                            收藏
                            <p>15</p>
                        </div>
                    </a>
                    <a href="flex.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-card s6"></span>
                        </div>
                        <div class="weui-grid__label">
                            卡券
                            <p>9</p>
                        </div>
                    </a>
                    <a href="toast.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-together s2"></span>
                        </div>
                        <div class="weui-grid__label">
                            一起玩
                            <p>62</p>
                        </div>
                    </a>
                    <a href="dialog.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-share s3"></span>
                        </div>
                        <div class="weui-grid__label">
                            分享金
                            <p>999.99</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>


    <% include _footer.html %>
</body>

</html>
