<!DOCTYPE html>
<html>

<head>
    <title>个人中心-我的图晒-详情</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">我的图晒</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-container with-hd">
        <article class="weui-article col-about">

            <div class="article-auther">
                <div class="auther">
                    <div class="avatar"><img src="/images/qlx/eduardo.jpg" alt=""></div>
                    <div class="name">清风徐来</div>
                    <div class="info">2天前来过</div>
                </div>
                <div class="article-like">
                    <em>2651</em>
                    <span class="qlxicon qlxicon-like-on"></span>
                </div>
            </div>
            <section>
                <div class="col-title">
                    <div class="title">【冰火两重天】神农架国际滑雪-天悦温泉动车</div>
                    <div class="publish"><span>发表于:2017-04-05</span><span>浏览数:7103</span></div>
                </div>
                <p>
                    <img src="/images/qlx/01.jpg" alt="">
                </p>
                <p>
                    <img src="/images/qlx/swiper-1.jpg" alt="">
                </p>
                <p>
                    <img src="/images/qlx/swiper-3.jpg" alt="">
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </section>
        </article>


    </div>


    <% include _footer.html %>
</body>

</html>
