<!DOCTYPE html>
<html>

<head>
    <title>个人中心-我的玩友</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">我的玩友</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-container with-hd">
        <div class="qlx-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/qlx/my_bg.jpg');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>清风徐来</p>
                        <div class="city">武汉市</div>
                    </div>
                    
                </div>
                <div class="uc-info">
                    <div class="item s1">
                        经验值<p>9999</p>
                    </div>
                    <div class="item s2">
                        分享金<p>999999</p>
                    </div>
                    <div class="item s3">
                        级别<p>99</p>
                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="uc-nav">
                    <a href="#" class="item active">成员</a>
                    <a href="#" class="item">分享金</a>
                </div>

                <div class="uc-friend-list">
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">清风徐来</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">清风徐来</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">清风徐来</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">清风徐来</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">清风徐来</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                    <a href="#" class="item">
                        <div class="friend-avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                        <div class="friend-name">王二小</div>
                    </a>
                </div>
            </div>
        </div>


    </div>


    <% include _footer.html %>
</body>

</html>
