<!DOCTYPE html>
<html>

<head>
    <title>个人中心</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">我的玩友</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-container with-hd">
        <div class="qlx-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/qlx/my_bg.jpg');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>清风徐来</p>
                        <div class="city">武汉市</div>
                    </div>
                    
                </div>
                <div class="uc-info">
                    <div class="item s1">
                        经验值<p>9999</p>
                    </div>
                    <div class="item s3">
                        级别<p>99</p>
                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="weui-grids qlx-quick-nav">
                    <a href="buttons.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-friend s4"></span>
                        </div>
                        <div class="weui-grid__label">
                            玩友
                            <p>12</p>
                        </div>
                    </a>
                    <a href="cell.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-order s1"></span>
                        </div>
                        <div class="weui-grid__label">
                            订单
                            <p>32</p>
                        </div>
                    </a>
                    <a href="form.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-fav s5"></span>
                        </div>
                        <div class="weui-grid__label">
                            收藏
                            <p>15</p>
                        </div>
                    </a>
                    <a href="flex.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-card s6"></span>
                        </div>
                        <div class="weui-grid__label">
                            卡券
                            <p>9</p>
                        </div>
                    </a>
                    <a href="toast.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-together s2"></span>
                        </div>
                        <div class="weui-grid__label">
                            一起玩
                            <p>62</p>
                        </div>
                    </a>
                    <a href="dialog.html" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <span class="qlxicon qlxicon-share s3"></span>
                        </div>
                        <div class="weui-grid__label">
                            分享金
                            <p>999.99</p>
                        </div>
                    </a>
                </div>
                
                <div class="weui-panel weui-panel_access qlx-uc-panel">
                    <div class="weui-panel__hd">玩友游记</div>
                    <div class="weui-panel__bd">
                        <div class="trips-list">
                            <div class="item">
                                <a href="#" class="trips-photo">
                                    <img src="/images/qlx/01.jpg" alt="">
                                </a>
                                <a href="#" class="trips-show">
                                    <div class="trips-title">
                                        <div class="trips-name">行走川西7日游－四姑娘山－甲居藏寨－稻城亚丁</div>
                                        <div class="trips-like">
                                            <em>2651</em>
                                            <span class="qlxicon qlxicon-like-on"></span>
                                        </div>
                                    </div>
                                    <div class="trips-des">稻城亚丁，从字面上来看就很文艺，读起这个词脑海中立刻浮现出金黄色麦穗随着微风飘曳的场景。看过《从你的全世界路过》的朋友，更会向往这个浪漫清新的世外桃源。然而实际游玩时，路途实在是比较艰辛的，想来的亲们一定要做好充足的体能准备和心理准备。先放波预告图～～～第一张图是拍摄 从你的全世界路过的取景地</div>
                                    <div class="trips-info">
                                        <div class="trips-location"><span class="qlxicon qlxicon-location"></span>四川 四姑娘山</div>
                                        <div class="trips-time">2017年04月14日</div>
                                    </div>
                                </a>
                                <div class="trips-auther">
                                    <a href="#" class="item-auther" target="_blank">
                                        <img class="auther-avatar" src="/images/qlx/eduardo.jpg" alt="">
                                        <span class="auther-name">清风徐来</span>
                                    </a>
                                    <div class="item-count">
                                        <div class="item"><span class="qlxicon qlxicon-attention"></span>123</div>
                                        <div class="item"><span class="qlxicon qlxicon-comment"></span>123</div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#" class="trips-photo">
                                    <img src="/images/qlx/01.jpg" alt="">
                                </a>
                                <a href="#" class="trips-show">
                                    <div class="trips-title">
                                        <div class="trips-name">行走川西7日游－四姑娘山－甲居藏寨－稻城亚丁</div>
                                        <div class="trips-like">
                                            <em>2651</em>
                                            <span class="qlxicon qlxicon-like-on"></span>
                                        </div>
                                    </div>
                                    <div class="trips-des">稻城亚丁，从字面上来看就很文艺，读起这个词脑海中立刻浮现出金黄色麦穗随着微风飘曳的场景。看过《从你的全世界路过》的朋友，更会向往这个浪漫清新的世外桃源。然而实际游玩时，路途实在是比较艰辛的，想来的亲们一定要做好充足的体能准备和心理准备。先放波预告图～～～第一张图是拍摄 从你的全世界路过的取景地</div>
                                    <div class="trips-info">
                                        <div class="trips-location"><span class="qlxicon qlxicon-location"></span>四川 四姑娘山</div>
                                        <div class="trips-time">2017年04月14日</div>
                                    </div>
                                </a>
                                <div class="trips-auther">
                                    <a href="#" class="item-auther" target="_blank">
                                        <img class="auther-avatar" src="/images/qlx/eduardo.jpg" alt="">
                                        <span class="auther-name">清风徐来</span>
                                    </a>
                                    <div class="item-count">
                                        <div class="item"><span class="qlxicon qlxicon-attention"></span>123</div>
                                        <div class="item"><span class="qlxicon qlxicon-comment"></span>123</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-panel__ft">
                        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd"><span>1369</span>个玩友，今日发布了<span>9870</span>个游记</div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>
                </div>

                <div class="weui-panel weui-panel_access qlx-uc-panel">
                    <div class="weui-panel__hd">玩友图晒</div>
                    <div class="weui-panel__bd">
                        <div class="photo-list" style="margin-bottom: 0;">
                            <a href="#" class="item">
                                <div class="p-img" style="background-image: url('/images/qlx/01.jpg');"></div>
                                <div class="p-count">
                                    <div class="like"><span class="qlxicon qlxicon-like"></span>199999</div>
                                    <div class="name">晓萍</div>
                                </div>
                                <div class="p-title">【冰火两重天】神农架国际滑雪-天悦温泉动车</div>
                            </a>
                            <a href="#" class="item">
                                <div class="p-img" style="background-image: url('/images/qlx/02.jpg');"></div>
                                <div class="p-count">
                                    <div class="like"><span class="qlxicon qlxicon-like"></span>199999</div>
                                    <div class="name">晓萍</div>
                                </div>
                                <div class="p-title">【冰火两重天】神农架国际滑雪-天悦温泉动车</div>
                            </a>
                            <a href="#" class="item">
                                <div class="p-img" style="background-image: url('/images/qlx/03.jpg');"></div>
                                <div class="p-count">
                                    <div class="like"><span class="qlxicon qlxicon-like"></span>199999</div>
                                    <div class="name">晓萍</div>
                                </div>
                                <div class="p-title">【冰火两重天】神农架国际滑雪-天悦温泉动车</div>
                            </a>
                            <a href="#" class="item">
                                <div class="p-img" style="background-image: url('/images/qlx/01.jpg');"></div>
                                <div class="p-count">
                                    <div class="like"><span class="qlxicon qlxicon-like"></span>199999</div>
                                    <div class="name">晓萍</div>
                                </div>
                                <div class="p-title">【冰火两重天】神农架国际滑雪-天悦温泉动车</div>
                            </a>
                        </div>
                    </div>
                    <div class="weui-panel__ft">
                        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd"><span>1369</span>个玩友，今日发布了<span>9870</span>个图晒</div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <% include _footer.html %>
</body>

</html>
