<!DOCTYPE html>
<html>

<head>
    <title>个人中心-我的游记</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">我的玩友</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-container with-hd">
        <div class="qlx-uc">
            <div class="hd">
                <div class="uc-name" style="background-image: url('/images/qlx/my_bg.jpg');">
                    <div class="avatar-border"><div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div></div>
                    <div class="name">
                        <p>清风徐来</p>
                        <div class="city">武汉市</div>
                    </div>
                    
                </div>
                <div class="uc-info">
                    <div class="item s1">
                        经验值<p>9999</p>
                    </div>
                    <div class="item s2">
                        分享金<p>999999</p>
                    </div>
                    <div class="item s3">
                        级别<p>99</p>
                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="uc-nav">
                    <a href="#" class="item active">我的游记</a>
                    <a href="#" class="item">玩友游记</a>
                </div>

                <div class="trips-list">
                    <!-- 我的游记 -->
                    <div class="item">
                        <a href="#" class="trips-photo">
                            <img src="/images/qlx/01.jpg" alt="">
                        </a>
                        <a href="#" class="trips-show">
                            <div class="trips-title">
                                <div class="trips-name">行走川西7日游－四姑娘山－甲居藏寨－稻城亚丁</div>
                            </div>
                            <div class="trips-des">稻城亚丁，从字面上来看就很文艺，读起这个词脑海中立刻浮现出金黄色麦穗随着微风飘曳的场景。看过《从你的全世界路过》的朋友，更会向往这个浪漫清新的世外桃源。然而实际游玩时，路途实在是比较艰辛的，想来的亲们一定要做好充足的体能准备和心理准备。先放波预告图～～～第一张图是拍摄 从你的全世界路过的取景地</div>
                            <div class="trips-info">
                                <div class="trips-count">
                                    <div class="item"><span class="qlxicon qlxicon-attention"></span>123</div>
                                    <div class="item"><span class="qlxicon qlxicon-comment"></span>123</div>
                                </div>
                                <div class="trips-time">2017年04月14日</div>
                            </div>
                        </a>
                    </div>
                    
                    <!-- 玩友游记 -->
                    <div class="item">
                        <a href="#" class="trips-photo">
                            <img src="/images/qlx/01.jpg" alt="">
                        </a>
                        <a href="#" class="trips-show">
                            <div class="trips-title">
                                <div class="trips-name">行走川西7日游－四姑娘山－甲居藏寨－稻城亚丁</div>
                                <div class="trips-like">
                                    <em>2651</em>
                                    <span class="qlxicon qlxicon-like-on"></span>
                                </div>
                            </div>
                            <div class="trips-des">稻城亚丁，从字面上来看就很文艺，读起这个词脑海中立刻浮现出金黄色麦穗随着微风飘曳的场景。看过《从你的全世界路过》的朋友，更会向往这个浪漫清新的世外桃源。然而实际游玩时，路途实在是比较艰辛的，想来的亲们一定要做好充足的体能准备和心理准备。先放波预告图～～～第一张图是拍摄 从你的全世界路过的取景地</div>
                            <div class="trips-info">
                                <div class="trips-location"><span class="qlxicon qlxicon-location"></span>四川 四姑娘山</div>
                                <div class="trips-time">2017年04月14日</div>
                            </div>
                        </a>
                        <div class="trips-auther">
                            <a href="#" class="item-auther" target="_blank">
                                <img class="auther-avatar" src="/images/qlx/eduardo.jpg" alt="">
                                <span class="auther-name">清风徐来</span>
                            </a>
                            <div class="item-count">
                                <div class="item"><span class="qlxicon qlxicon-attention"></span>123</div>
                                <div class="item"><span class="qlxicon qlxicon-comment"></span>123</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="trips-photo">
                            <img src="/images/qlx/01.jpg" alt="">
                        </a>
                        <a href="#" class="trips-show">
                            <div class="trips-title">
                                <div class="trips-name">行走川西7日游－四姑娘山－甲居藏寨－稻城亚丁</div>
                                <div class="trips-like">
                                    <em>2651</em>
                                    <span class="qlxicon qlxicon-like-on"></span>
                                </div>
                            </div>
                            <div class="trips-des">稻城亚丁，从字面上来看就很文艺，读起这个词脑海中立刻浮现出金黄色麦穗随着微风飘曳的场景。看过《从你的全世界路过》的朋友，更会向往这个浪漫清新的世外桃源。然而实际游玩时，路途实在是比较艰辛的，想来的亲们一定要做好充足的体能准备和心理准备。先放波预告图～～～第一张图是拍摄 从你的全世界路过的取景地</div>
                            <div class="trips-info">
                                <div class="trips-location"><span class="qlxicon qlxicon-location"></span>四川 四姑娘山</div>
                                <div class="trips-time">2017年04月14日</div>
                            </div>
                        </a>
                        <div class="trips-auther">
                            <a href="#" class="item-auther" target="_blank">
                                <img class="auther-avatar" src="/images/qlx/eduardo.jpg" alt="">
                                <span class="auther-name">清风徐来</span>
                            </a>
                            <div class="item-count">
                                <div class="item"><span class="qlxicon qlxicon-attention"></span>123</div>
                                <div class="item"><span class="qlxicon qlxicon-comment"></span>123</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" class="trips-photo">
                            <img src="/images/qlx/01.jpg" alt="">
                        </a>
                        <a href="#" class="trips-show">
                            <div class="trips-title">
                                <div class="trips-name">行走川西7日游－四姑娘山－甲居藏寨－稻城亚丁</div>
                                <div class="trips-like">
                                    <em>2651</em>
                                    <span class="qlxicon qlxicon-like-on"></span>
                                </div>
                            </div>
                            <div class="trips-des">稻城亚丁，从字面上来看就很文艺，读起这个词脑海中立刻浮现出金黄色麦穗随着微风飘曳的场景。看过《从你的全世界路过》的朋友，更会向往这个浪漫清新的世外桃源。然而实际游玩时，路途实在是比较艰辛的，想来的亲们一定要做好充足的体能准备和心理准备。先放波预告图～～～第一张图是拍摄 从你的全世界路过的取景地</div>
                            <div class="trips-info">
                                <div class="trips-location"><span class="qlxicon qlxicon-location"></span>四川 四姑娘山</div>
                                <div class="trips-time">2017年04月14日</div>
                            </div>
                        </a>
                        <div class="trips-auther">
                            <a href="#" class="item-auther" target="_blank">
                                <img class="auther-avatar" src="/images/qlx/eduardo.jpg" alt="">
                                <span class="auther-name">清风徐来</span>
                            </a>
                            <div class="item-count">
                                <div class="item"><span class="qlxicon qlxicon-attention"></span>123</div>
                                <div class="item"><span class="qlxicon qlxicon-comment"></span>123</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <% include _footer.html %>
</body>

</html>
