<!DOCTYPE html>
<html>

<head>
    <title>产品详情-说明</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">神农架国际滑雪神农架国际滑雪</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-footer">
        <div class="qlx-nav">
            <div class="mypanel">
                <span class="qlxicon qlxicon-my"></span>
            </div>
            <a href="#" class="item">咨询客服</a>
            <a href="#" class="item">一起玩</a>
            <a href="#" class="item">我要报名</a>
        </div>
    </div>
    <div class="qlx-mypanel">
        <div class="hd" style="background-image: url('/images/qlx/my_bg.jpg');">
            <div class="myname">
                <div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                <div class="name">清风徐来</div>
            </div>
            <div class="myinfo">
                <div class="item">
                    经验值<p>9999</p>
                </div>
                <div class="item">
                    分享金<p>999999</p>
                </div>
                <div class="item">
                    级别<p>99</p>
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="mypanel-nav">
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-order"></span>订单</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-fav"></span>收藏</a>
                </div>
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-card"></span>卡券箱</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-friend"></span>玩友</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-together"></span>一起玩</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-home"></span>主页</a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-mask"></div>


    <div class="qlx-container with-hd with-ft">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="/images/qlx/01.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/02.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/03.jpg" /></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="product-detail">
            <h3 class="p-title">“春览林芝醉桃花”西藏桃花节全景双卧10-12日游</h3>
            <div class="p-navbar">
                <a href="#" class="p-navbar__item">行程</a>
                <a href="#" class="p-navbar__item">亮点介绍</a>
                <a href="#" class="p-navbar__item active">服务说明</a>
            </div>
            <div class="p-cont">
                <div class="p-rule">
                    <div class="item">
                        <div class="rule-t">费用不含</div>
                        <div class="rule-c">
                            1、旅游意外险
                            <br>
                            2、酒店费用
                            <br>
                            3、日本签证费用
                            <br>
                            4、上述费用包含中未提及费用
                        </div>
                    </div>
                    <div class="item">
                        <div class="rule-t">预订须知</div>
                        <div class="rule-c">
                            1. 本自由行使用团体机票，无法延长天数、不可更改航班及到达地点，机票开出后无法退票。
                            <br>
                            2.请您确保填写的乘机人姓名、证件号码与有效证件上信息完全一致，并确认您所选择的航班起飞日期在您的证件有效期内；
                            <br>
                            3.请确认您提供的联系人信息是否准确，以确保您所输入的联系人手机号能收到我们发送的预订及出票信息；
                            <br>
                            4.请您在收到确认件后，在机票约定时间内中进行支付，若规定时间内未完成支付，订单自动取消；
                            <br>
                            5.您所预订航班一旦出票暂不支持修改乘机人姓名，若需要修改乘机人证件号及其他信息请联系该航班所在的航空公司。
                            <br>
                            6. 为了不耽误您的行程，请在国际航班起飞前120分钟到达机场办理登机以及出入境相关手续；
                            <br>
                            7.租车、订房、机票规定订单确认後，不能更改日期、延长或缩短行程日期，如有更改，须取消及重新订购，价格可能有所改变，并收取相应损失；旺季资源紧张，若临时取消，团费全损。
                        </div>
                    </div>
                    <div class="item">
                        <div class="rule-t">退改规则</div>
                        <div class="rule-c">本商品为特价商品，在订单确认后，不得做任何更改，也不予退款，请您认真阅读商品详情后下单。</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <% include _footer.html %>
    <script src="/js/swiper.js"></script>
    <script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    </script>

    <script type="text/javascript">
    $('.mypanel').click(function(){
        $('.qlx-mypanel').animate({left:0},200);
        $('.weui-mask').addClass("weui-mask--visible");
    });
    $('.weui-mask').click(function(){
        $('.qlx-mypanel').animate({left:-$('.qlx-mypanel').width()},200);
        $('.weui-mask').removeClass("weui-mask--visible");
    });
    </script>
</body>

</html>
