<!DOCTYPE html>
<html>

<head>
    <title>产品详情-行程</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">神农架国际滑雪神农架国际滑雪</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-footer">
        <div class="qlx-nav">
            <div class="mypanel">
                <span class="qlxicon qlxicon-my"></span>
            </div>
            <a href="#" class="item">咨询客服</a>
            <a href="#" class="item">一起玩</a>
            <a href="#" class="item">我要报名</a>
        </div>
    </div>
    <div class="qlx-mypanel">
        <div class="hd" style="background-image: url('/images/qlx/my_bg.jpg');">
            <div class="myname">
                <div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                <div class="name">清风徐来</div>
            </div>
            <div class="myinfo">
                <div class="item">
                    经验值<p>9999</p>
                </div>
                <div class="item">
                    分享金<p>999999</p>
                </div>
                <div class="item">
                    级别<p>99</p>
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="mypanel-nav">
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-order"></span>订单</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-fav"></span>收藏</a>
                </div>
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-card"></span>卡券箱</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-friend"></span>玩友</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-together"></span>一起玩</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-home"></span>主页</a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-mask"></div>


    <div class="qlx-container with-hd with-ft">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="/images/qlx/01.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/02.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/03.jpg" /></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="product-detail">
            <h3 class="p-title">“春览林芝醉桃花”西藏桃花节全景双卧10-12日游</h3>
            <div class="p-navbar">
                <a href="#" class="p-navbar__item active">行程</a>
                <a href="#" class="p-navbar__item">亮点介绍</a>
                <a href="#" class="p-navbar__item">服务说明</a>
            </div>
            <div class="p-cont">
                <div class="p-travel">
                    <div class="item">
                        <div class="travel-t"><span>01.</span>第一天  武汉飞成都</div>
                        <div class="travel-c">
                            <img src="/images/qlx/01.jpg" alt="">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>02.</span>第二天  入藏</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>03.</span>第三天  拉萨-布达拉宫</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>04.</span>第四天  拉萨-自由行</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>05.</span>第五天  拉萨-林芝</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>06.</span>第六天  灵芝桃花节第一天</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>07.</span>第七天  桃花节第二天</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>08.</span>第八天  林芝桃花节最后一天</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>09.</span>第九天  出藏</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>10.</span>第十天  成都一日游</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                    <div class="item">
                        <div class="travel-t"><span>11.</span>第十一天  返回武汉</div>
                        <div class="travel-c">
                             各地乘机飞往昆明，我社专业人员鲜花接机，专属接送机服务，客人即到即走，无需等待拼车，专业人员协助办理酒店入住手续
                            <br>
                            ★温馨提示
                            <br>
                            1.昆明早晚温差较大，请您注意添减衣物的准备；
                            <br>
                            2、在自由出行时，请您保管好个人财物。 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <% include _footer.html %>
    <script src="/js/swiper.js"></script>
    <script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    </script>

    <script type="text/javascript">
    $('.mypanel').click(function(){
        $('.qlx-mypanel').animate({left:0},200);
        $('.weui-mask').addClass("weui-mask--visible");
    });
    $('.weui-mask').click(function(){
        $('.qlx-mypanel').animate({left:-$('.qlx-mypanel').width()},200);
        $('.weui-mask').removeClass("weui-mask--visible");
    });
    </script>
</body>

</html>
