<!DOCTYPE html>
<html>

<head>
    <title>千里游学-列表页</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">千里游学</div>
            <div class="qlx-city">武汉</div>
            <div class="qlx-item"><span class="qlxicon qlxicon-search"></span></div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-footer">
        <div class="qlx-nav">
            <div class="mypanel">
                <span class="qlxicon qlxicon-my"></span>
            </div>
            <a href="#" class="item">活动日历</a>
            <a href="#" class="item active">班级</a>
            <a href="#" class="item">千里游学介绍</a>
        </div>
    </div>
    <div class="qlx-mypanel">
        <div class="hd" style="background-image: url('/images/qlx/my_bg.jpg');">
            <div class="myname">
                <div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                <div class="name">清风徐来</div>
            </div>
            <div class="myinfo">
                <div class="item">
                    经验值<p>9999</p>
                </div>
                <div class="item">
                    分享金<p>999999</p>
                </div>
                <div class="item">
                    级别<p>99</p>
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="mypanel-nav">
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-order"></span>订单</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-fav"></span>收藏</a>
                </div>
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-card"></span>卡券箱</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-friend"></span>玩友</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-together"></span>一起玩</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-home"></span>主页</a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-mask"></div>


    <div class="qlx-container with-hd with-ft">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="/images/qlx/01.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/02.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/03.jpg" /></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="product-filter">
            <span>7岁以上</span><span>拓展</span><span class="active">探索营</span><span>8岁以上</span><span>单飞</span><span>夏令营</span><span>5岁以上</span><span>小实验</span><span>小制作</span><span>种果树</span><span>名师讲堂</span><span>户外游戏</span>
        </div>
        <div class="product-hori-list">
            <div class="product-title">
                <div class="list-title">
                    <p>探索营</p>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="hd">
                        <img class="product-photo photo-big" src="/images/qlx/01.jpg" alt="">
                    </div>
                    <div class="bd">
                        <div class="product-txt">[驴孩子寻山计划]第五篇——八分山下的坦克奇遇，户外垂直岩降主题挑战</div>
                        <div class="product-tag">
                            <span>8岁以上</span><span>单飞</span><span>夏令营</span>
                        </div>
                        <div class="product-price">
                            <span class="price-sign">￥</span><span class="price-big">268</span><span class="price-small">.00</span>起
                        </div>
                        <div class="product-btn">
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">我要报班</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="hd">
                        <img class="product-photo photo-big" src="/images/qlx/01.jpg" alt="">
                    </div>
                    <div class="bd">
                        <div class="product-txt">[驴孩子寻山计划]第五篇——八分山下的坦克奇遇，户外垂直岩降主题挑战</div>
                        <div class="product-tag">
                            <span>8岁以上</span><span>单飞</span><span>夏令营</span>
                        </div>
                        <div class="product-price">
                            <span class="price-sign">￥</span><span class="price-big">268</span><span class="price-small">.00</span>起
                        </div>
                        <div class="product-btn">
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">我要报班</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="hd">
                        <img class="product-photo photo-big" src="/images/qlx/01.jpg" alt="">
                    </div>
                    <div class="bd">
                        <div class="product-txt">[驴孩子寻山计划]第五篇——八分山下的坦克奇遇，户外垂直岩降主题挑战</div>
                        <div class="product-tag">
                            <span>8岁以上</span><span>单飞</span><span>夏令营</span>
                        </div>
                        <div class="product-price">
                            <span class="price-sign">￥</span><span class="price-big">268</span><span class="price-small">.00</span>起
                        </div>
                        <div class="product-btn">
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">我要报班</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <% include _footer.html %>
    <script src="/js/swiper.js"></script>
    <script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    $(".swiper-date").swiper({
        slidesPerView: 'auto',
        paginationClickable: true,
    });
    </script>

    <script type="text/javascript">
    $('.mypanel').click(function(){
        $('.qlx-mypanel').animate({left:0},200);
        $('.weui-mask').addClass("weui-mask--visible");
    });
    $('.weui-mask').click(function(){
        $('.qlx-mypanel').animate({left:-$('.qlx-mypanel').width()},200);
        $('.weui-mask').removeClass("weui-mask--visible");
    });
    </script>

</body>

</html>
