<!DOCTYPE html>
<html>

<head>
    <title>学生玩吧-玩吧介绍</title>
    <% include _header.html %>
</head>

<body ontouchstart>

    <div class="qlx-header">
        <div class="qlx-topbar">
            <div class="qlx-back"><span class="qlxicon qlxicon-back"></span></div>
            <div class="qlx-title">玩吧介绍</div>
            <!-- <div class="qlx-item"><span class="qlxicon qlxicon-heart"></span></div> -->
            <div class="qlx-item"><span class="qlxicon qlxicon-fav"></span></div>
            <div class="qlx-item"><span class="qlxicon qlxicon-share"></span></div>
        </div>
    </div>

    <div class="qlx-footer">
        <div class="qlx-cr">
            <div class="weui-footer">
                <p class="weui-footer__text">© 武汉千里行国际旅行社有限责任公司</p>
            </div>
        </div>
        <div class="qlx-nav">
            <div class="mypanel">
                <span class="qlxicon qlxicon-my"></span>
            </div>
            <a href="#" class="item">线路</a>
            <a href="#" class="item active">近期活动</a>
            <a href="#" class="item">玩吧介绍</a>
        </div>
    </div>
    <div class="qlx-mypanel">
        <div class="hd" style="background-image: url('/images/qlx/my_bg.jpg');">
            <div class="myname">
                <div class="avatar" style="background-image: url('/images/qlx/eduardo.jpg');"></div>
                <div class="name">清风徐来</div>
            </div>
            <div class="myinfo">
                <div class="item">
                    经验值<p>9999</p>
                </div>
                <div class="item">
                    分享金<p>999999</p>
                </div>
                <div class="item">
                    级别<p>99</p>
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="mypanel-nav">
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-order"></span>订单</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-fav"></span>收藏</a>
                </div>
                <div class="items">
                    <a href="#" class="item"><span class="qlxicon qlxicon-card"></span>卡券箱</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-friend"></span>玩友</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-together"></span>一起玩</a>
                    <a href="#" class="item"><span class="qlxicon qlxicon-home"></span>主页</a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-mask"></div>


    <div class="qlx-container with-hd with-cr">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="/images/qlx/01.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/02.jpg" /></div>
                <div class="swiper-slide"><img src="/images/qlx/03.jpg" /></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <article class="weui-article col-about">
            <section>
                <h3>1.1 节标题</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    <img src="/images/qlx/01.jpg" alt="" style="width: 78px; height: 78px;">
                    <img src="/images/qlx/02.jpg" alt="" style="width: 78px; height: 78px;">
                    <img src="/images/qlx/03.jpg" alt="" style="width: 78px; height: 78px;">
                </p>
                <h3>1.2 节标题</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </section>
        </article>


    </div>


    <% include _footer.html %>
    <script src="/js/swiper.js"></script>
    <script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
    </script>

    <script type="text/javascript">
    $('.mypanel').click(function(){
        $('.qlx-mypanel').animate({left:0},200);
        $('.weui-mask').addClass("weui-mask--visible");
    });
    $('.weui-mask').click(function(){
        $('.qlx-mypanel').animate({left:-$('.qlx-mypanel').width()},200);
        $('.weui-mask').removeClass("weui-mask--visible");
    });
    </script>
</body>

</html>
